Repository hmcts/ccd-definition-store-api, pull requests merged in 2019-05, with the labels that each got.

#361 RDM-4362 Add UserRole column to the CaseTypeTab Worksheet
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/BaseTest.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/SpreadSheetImportTest.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/UserRoleSetup.java
  application/src/test/resources/CCD_TestDefinition_V40_RDM-4108.xlsx
  application/src/test/resources/CCD_TestDefinition_V41_RDM-4362.xlsx
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapper.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/caserole/CaseRoleEntityUniquenessValidatorImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/SpreadsheetValidationErrorMessageCreator.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AbstractDisplayGroupParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/CaseTypeTabParser.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/SpreadsheetValidationErrorMessageCreatorTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/DisplayGroupParserTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/DisplayGroupEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/CaseTypeTab.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
Labels: enhancement, ns:ccd-definition-store-api-pr-361

#396 RDM-4265: DefaultHidden column warning on Definition import
  application/src/main/resources/application.properties
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/ImportController.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SpreadsheetParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportService.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImpl.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/ImportControllerTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SpreadsheetParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
Labels: checkpoint, ns:ccd-definition-store-api-pr-396

#362 RDM-4434: Remove role-based authorisation for /api/user-role endpoints
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/AuthCheckerConfiguration.java
  application/src/test/java/uk/gov/hmcts/ccd/definition/store/AuthCheckerConfigurationTest.java
Labels: checkpoint, ns:ccd-definition-store-api-pr-362

#398 RDM-4699: Support unlimited characters in options of FixedList field types
  excel-importer/src/test/resources/CCD_TestDefinition.xlsx
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-4699.xml
Labels: checkpoint, ns:ccd-definition-store-api-pr-398

#387 Rdm 4454 liquibase only
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/GenericLayoutEntity.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-4454.xml
Labels: ns:ccd-definition-store-api-pr-387

#386 RDM-4454 Search Input fields by Role
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/BaseTest.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/SpreadSheetImportTest.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/UserRoleSetup.java
  application/src/test/resources/CCD_TestDefinition_V41_RDM-4362.xlsx
  application/src/test/resources/CCD_TestDefinition_V42_RDM-4454.xlsx
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapper.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/GenericLayoutParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParseContext.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/GenericLayoutParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SearchInputLayoutParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SearchResultLayoutParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/WorkbasketInputLayoutParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/WorkbasketLayoutParserTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/SearchInputField.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/SearchResultsField.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/WorkBasketResultField.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/WorkbasketInputField.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd-definition-store-api-pr-386

#406 Bump jackson-databind to v2.9.9 for CVE-2019-12086
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd-definition-store-api-pr-406

#408 Log import validation errors
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/CaseTypeServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/ValidationError.java
Labels: ns:ccd-definition-store-api-pr-408
