Repository hmcts/ccd-definition-store-api, pull requests merged in 2019-12, with the labels that each got.

#472 Release cut 15.2
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/DisplayGroupEntity.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6336.xml
Labels: ns:ccd-definition-store-api-pr-472

#473 Rdm 4324 DisplayOrder required for ComplexType elements
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/BaseTest.java
  application/src/test/resources/CCD_TestDefinition_V44_RDM-4084.xlsx
  application/src/test/resources/CCD_TestDefinition_V45_RDM-4525.xlsx
  application/src/test/resources/CCD_TestDefinition_V46_RDM-4324.xlsx
  application/src/test/resources/GetCaseTypesResponseForCCD_TestDefinition_V45.json
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapper.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/mapper/FieldTypeListItemMapper.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/sorters/FieldTypeListItemSorter.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayGroupAdapterService.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/ValidationError.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/ValidationErrorMessageCreator.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/ValidationResult.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/complexfield/ComplexFieldEntityIncorrectOrderValidationError.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/complexfield/ComplexFieldEntityMissingOrderValidationError.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/complexfield/ComplexFieldEntityOrderValidatorImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/mapper/FieldTypeListItemMapperTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/sorters/FieldTypeListItemSorterTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayGroupAdapterServiceTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/ValidationResultTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/complexfield/ComplexFieldEntityOrderValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/DisplayGroupCaseFieldsValidatorImplTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/SpreadsheetValidationErrorMessageCreator.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ComplexFieldTypeParser.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/ComplexFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/FieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/FieldTypeEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/CaseField.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/Comparators.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/FixedListItem.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/Orderable.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/WizardPageComplexFieldOverride.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-4324.xml
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/utils/CaseFieldBuilder.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/utils/ComplexFieldBuilder.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/utils/FieldTypeBuilder.java
Labels: checkpoint, ns:ccd-definition-store-api-pr-473

#487 ingressHost update
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/values.yaml
Labels: ns:ccd-definition-store-api-pr-487

#489 switch to aks aat
  Jenkinsfile_CNP
Labels: ns:ccd-definition-store-api-pr-489

#485 RDM-4885 Validation for the [CREATOR] role in AuthorisationCaseField …
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/CaseRoleServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casefield/CaseFieldEntityValidationContext.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/caserole/CaseRoleEntityUniquenessValidatorImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/CaseRoleServiceImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/caserole/CaseRoleEntityUniquenessValidatorImplTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/SpreadsheetValidationErrorMessageCreator.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationParser.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/SpreadsheetValidationErrorMessageCreatorTest.java
Labels: ns:ccd-definition-store-api-pr-485

#493 disable ASE deployment on prod
  Jenkinsfile_CNP
Labels: ns:ccd-definition-store-api-pr-493

#491 RDM-6887 Remove duplicate display context from data store endpoint
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayGroupAdapterService.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayGroupAdapterServiceTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/WizardPageField.java
Labels: ns:ccd-definition-store-api-pr-491

#495 re enable legacy deployment to fix broken ithc env
  Jenkinsfile_CNP
Labels: ns:ccd-definition-store-api-pr-495

#498 Rdm 6888 Limit Admin Web History results
  application/src/main/resources/application.properties
  charts/ccd-definition-store-api/values.yaml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/ApplicationParams.java
  infrastructure/main.tf
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/ImportAuditController.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/service/AzureImportAuditsClient.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/ImportAuditControllerTest.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/service/AzureImportAuditsClientTest.java
Labels: checkpoint, ns:ccd-definition-store-api-pr-498
