Repository hmcts/ccd-definition-store-api, pull requests merged in 2019-07, with the labels that each got.

#428 RDM-5242 Overrides fix when the fields in one event have similar prefix
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayGroupAdapterService.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayGroupAdapterServiceTest.java
Labels: ns:ccd-definition-store-api-pr-428

#430 RDM-4793 - Added IDAM URL and Frontend URL for sandbox
  infrastructure/sandbox.tfvars
Labels: ns:ccd-definition-store-api-pr-430

#433 RDM-4272-2: Update the labels for Address Line 2 and 3
  application/src/test/resources/GetCaseTypesResponseForCCD_TestDefinition_V45.json
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-4272.xml
Labels: bug, ns:ccd-definition-store-api-pr-433

#434 RDM-3551- upgraded owasp dependencycheck to 5.1.0
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd-definition-store-api-pr-434

#432 RDM-4863 - Add instrumentation support for CCD-AM integration Phase 1
  lib/AI-Agent.xml
Labels: ns:ccd-definition-store-api-pr-432

#421 Rdm 4773
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ListFieldTypeParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SpreadsheetParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SpreadSheetValidationMappingEnum.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SpreadsheetValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ListFieldTypeParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SpreadsheetValidatorTest.java
Labels: ns:ccd-definition-store-api-pr-421

#437 RDM-5520 - Remove FixedList ListElement length validation
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SpreadSheetValidationMappingEnum.java
Labels: ns:ccd-definition-store-api-pr-437
