Repository hmcts/ccd-definition-store-api, pull requests merged in 2019-08, with the labels that each got.

#436 Rdm 5165 def store functional test validations
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/ImportDefinitionTest.java
  aat/src/resource/CCD_CNP_27_Invalid_CRUD_Permissions.xlsx
  aat/src/resource/CCD_CNP_27_Invalid_User_Role.xlsx
  aat/src/resource/CCD_CNP_27_Missing_CRUD_Permissions.xlsx
  aat/src/resource/CCD_CNP_27_Missing_Complex_Authorization.xlsx
Labels: ns:ccd-definition-store-api-pr-436

#438 RMD-5519: Definition store Case Type ACL test cases.
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/ImportDefinitionTest.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/helper/ImportDefinitonDataSetup.java
  aat/src/resource/CCD_CNP_27_CaseType_Security_Classification_Test.xlsx
  aat/src/resource/CCD_CNP_27_Invalid_CaseType_ACL.xlsx
  aat/src/resource/CCD_CNP_27_Missing_CaseType_ACL_Info.xlsx
  aat/src/resource/CCD_CNP_27_Missing_SecurityType_from_CaseType.xlsx
Labels: ns:ccd-definition-store-api-pr-438

#445 RDM-4544 - validate regular expression for document
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/complexfield/ComplexFieldEntityDocumentTypeRegularExpressionValidator.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/fieldtype/DocumentTypeRegularExpressionValidator.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/regex/AbstractDocumentTypeRegularExpressionValidator.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/regex/RegularExpressionValidationError.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/complexfield/ComplexFieldEntityDocumentTypeRegularExpressionValidatorTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/fieldtype/DocumentTypeRegularExpressionValidatorTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/FieldTypeEntity.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/entity/FieldTypeEntityTest.java
Labels: ns:ccd-definition-store-api-pr-445

#448 RDM-5519: Disabling the test case as it is breaking the build. Will fix it in next iteration.
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/ImportDefinitionTest.java
Labels: ns:ccd-definition-store-api-pr-448

#449 Rdm 5519 master build fix
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/ImportDefinitionTest.java
Labels: ns:ccd-definition-store-api-pr-449

#447 RDM-4868 Implement Data Source Switches in Definition Store - pushing initial solution for github and jenkins checks
  .gitignore
  .project
  aat/.project
  app-insights/.project
  application/.gitignore
  application/.project
  application/src/main/resources/application.properties
  domain/.project
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/AmPersistenceReadSource.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/AmPersistenceSwitch.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/AmPersistenceWriteDestination.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/AmSwitchValidator.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/AppConfigBasedAmPersistenceSwitch.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/ApplicationParams.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/AmSwitchValidatorTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/AppConfigBasedAmPersistenceSwitchTest.java
  elastic-search-support/.gitignore
  elastic-search-support/.project
  excel-importer/.project
  infrastructure/main.tf
  infrastructure/variables.tf
  repository/.gitignore
  repository/.project
  rest-api/.gitignore
  rest-api/.project
Labels: ns:ccd-definition-store-api-pr-447

#451 RDM-5680-cnp-java-base change
  Dockerfile
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/ImportDefinitionTest.java
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/requirements.lock
  charts/ccd-definition-store-api/requirements.yaml
  charts/ccd-definition-store-api/templates/NOTES.txt
  charts/ccd-definition-store-api/values.preview.template.yaml
  charts/ccd-definition-store-api/values.yaml
  hub.Dockerfile
Labels: ns:ccd-definition-store-api-pr-451

#450 updated chart
  charts/ccd-definition-store-api/values.aat.template.yaml
  charts/ccd-definition-store-api/values.yaml
Labels: ns:ccd-definition-store-api-pr-450

#454 RDM-5730-Fix PF team changes to infra and jenkinsfile
  Jenkinsfile_CNP
  application/src/main/resources/bootstrap.yaml
  infrastructure/main.tf
  infrastructure/outputs.tf
Labels: ns:ccd-definition-store-api-pr-454
