Repository hmcts/ccd-definition-store-api, pull requests merged in 2019-06, with the labels that each got.

#303 Bump Swagger2 from 2.9.0 to 2.9.2
  build.gradle
Labels: ns:ccd-definition-store-api-pr-303

#393 Validate NOT and OR syntax on Definition store to allow user to import definition file
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/showcondition/ShowConditionParser.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/showcondition/ShowConditionParserTest.java
Labels: ns:ccd-definition-store-api-pr-393

#412 RDM-4881 - Fix flaky functional test
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/BaseTest.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/DataSetupExtension.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/ImportDefinitionTest.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/UserRoleTest.java
Labels: ns:ccd-definition-store-api-pr-412

#415 RDM-4345 - add retry for ES index verification
  aat/build.gradle
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/elasticsearch/ElasticsearchImportDefinitionTest.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/util/TestUtils.java
Labels: ns:ccd-definition-store-api-pr-415

#418 RDM-4810- To increase unit test coverage in "DefinitionStoreAPI" for CCD-AM Integration
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeRepositoryTest.java
Labels: ns:ccd-definition-store-api-pr-418

#395 RDM-4509 Add caseFieldElementPath to ResultField
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapper.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/SearchResultsField.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/WorkBasketResultField.java
Labels: ns:ccd-definition-store-api-pr-395

#404 RDM-4084 liquibase only changes for the database changes to go in first
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-4084.xml
Labels: ns:ccd-definition-store-api-pr-404

#424 scale up db on prod and perftest to align to aat
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
Labels: ns:ccd-definition-store-api-pr-424

#422 Rdm 5105 Previously accepted definition fails validation
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casetype/CaseTypeEntityFieldLabelValidator.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casetype/CaseTypeEntityFieldLabelValidatorTest.java
Labels: bug, ns:ccd-definition-store-api-pr-422

#407 Rdm 2987 Markdown supporting Iterating collection items when accessing Complex elements
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/ValidationErrorMessageCreator.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casetype/CaseTypeEntityFieldLabelValidator.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casefield/CaseFieldEntityACLValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casefield/CaseFieldEntityComplexFieldsValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casefield/CaseFieldEntityCrudValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casetype/CaseTypeEntityFieldLabelValidatorTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/SpreadsheetValidationErrorMessageCreator.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/CaseFieldParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/SpreadsheetValidationErrorMessageCreatorTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/CaseFieldParserTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/FieldTypeEntity.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseFieldEntityTest.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/entity/FieldTypeEntityTest.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/utils/FieldTypeBuilder.java
Labels: checkpoint, ns:ccd-definition-store-api-pr-407

#420 Rdm 4525 BE to save the display_order to DB and pass it up to man web
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/BaseTest.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/SpreadSheetImportTest.java
  application/src/test/resources/CCD_TestDefinition_V45_RDM-4525.xlsx
  application/src/test/resources/GetCaseTypesResponseForCCD_TestDefinition_V35.json
  application/src/test/resources/GetCaseTypesResponseForCCD_TestDefinition_V45.json
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/mapper/FieldTypeListItemMapper.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/mapper/FieldTypeListItemMapperTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ListFieldTypeParser.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ListFieldTypeParserTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/FieldTypeListItemEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/FixedListItem.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-4525.xml
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/utils/FieldTypeListItemBuilder.java
Labels: checkpoint, ns:ccd-definition-store-api-pr-420

#423 RDM-4523-To resolve conflicts of rebase
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapper.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
Labels: ns:ccd-definition-store-api-pr-423
