Repository hmcts/ccd-definition-store-api, pull requests merged in 2019-03, with the labels that each got.

#299 Rdm 3433 bug fix
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/DisplayGroupDisplayContextParamValidator.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/DisplayGroupDisplayContextParamValidatorImplTest.java
Labels: ns:ccd-definition-store-api-pr-299

#328 RDM-4253: Admin Web Access Control
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/AuthCheckerConfiguration.java
  application/src/main/resources/application.properties
  application/src/test/java/uk/gov/hmcts/ccd/definition/store/AuthCheckerConfigurationTest.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/configuration/AdminWebAuthorizationProperties.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/UserRoleController.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/model/AdminWebAuthorization.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/AdminWebAuthorizationControllerTest.java
Labels: checkpoint

#332 RDM-4344: Terraform configuration for CCD Admin Web role-based authorisation
  infrastructure/main.tf
Labels: checkpoint

#366 Enable functional tests in PR builds
  Jenkinsfile_CNP
  application/src/main/resources/bootstrap.yaml
  charts/ccd-definition-store-api/values.template.yaml
  infrastructure/aat.tfvars
Labels: ns:ccd-definition-store-api-pr-366
