Repository hmcts/ccd-definition-store-api, pull requests merged in 2019-11, with the labels that each got.

#456 DEVELOPMENT branch
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/GenericLayoutParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SearchInputLayoutParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SearchResultLayoutParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/WorkbasketInputLayoutParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/WorkbasketLayoutParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/ColumnName.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/GenericLayoutParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SearchInputLayoutParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/WorkbasketInputLayoutParserTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/SearchResultCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/SortOrder.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/WorkBasketCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/SearchResultsField.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/SortOrder.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/WorkBasketResultField.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-5566.xml
Labels: ns:ccd-definition-store-api-pr-456

#466 Extend suppressions until 2019-11-11 NON-PROD
  dependency-check-suppressions.xml
Labels: ns:ccd-definition-store-api-pr-466

#467 Address current CVEs and clean up suppressions
  build.gradle
  dependency-check-suppressions.xml
  excel-importer/build.gradle
Labels: ns:ccd-definition-store-api-pr-467

#463 Performance improvements for CaseType entity loading
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayGroupAdapterServiceTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/WebhookParser.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventWebhookEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/FieldTypeEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/WebhookEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/WebhookType.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6246.1.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6246.2.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6246.3.xml
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeObjectGraphTest.java
Labels: ns:ccd-definition-store-api-pr-463

#471 Performance improvements for /display/tab-structure/{id}
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/DisplayGroupEntity.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6336.xml
Labels: ns:ccd-definition-store-api-pr-471

#475 Update RC with perf improvements
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayGroupAdapterServiceTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/WebhookParser.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/DisplayGroupEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventWebhookEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/FieldTypeEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/WebhookEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/WebhookType.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6246.1.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6246.2.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6246.3.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6336.xml
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeObjectGraphTest.java
Labels: ns:ccd-definition-store-api-pr-475

#477 Rdm 6331 - CVE fixes
  build.gradle
  dependency-check-suppressions.xml
  excel-importer/build.gradle
Labels: ns:ccd-definition-store-api-pr-477

#479 RDM-6596-bumped java chart version
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/requirements.yaml
Labels: ns:ccd-definition-store-api-pr-479

#481 Fix duplicate query on /findJurisdictions
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/CaseDefinitionController.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/CaseDefinitionControllerTest.java
Labels: ns:ccd-definition-store-api-pr-481

#482 prod performance improvement hot fix
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayGroupAdapterServiceTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/WebhookParser.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventWebhookEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/FieldTypeEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/WebhookEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/WebhookType.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6246.1.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6246.2.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6246.3.xml
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeObjectGraphTest.java
Labels: ns:ccd-definition-store-api-pr-482

#480 Rdm 5735
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/mapper/FieldTypeListItemMapper.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/sorters/FieldTypeListItemSorter.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/sorters/FieldTypeListItemSorterTest.java
Labels: ns:ccd-definition-store-api-pr-480

#465 RDM-5821: Improve validation errors of Import operation in case of mi…
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/ImportDefinitionTest.java
  charts/ccd-definition-store-api/values.preview.template.yaml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/CaseTypeService.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/CaseTypeServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/MissingUserRolesException.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casefield/CaseFieldEntityInvalidUserRoleValidationError.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/event/EventEntityInvalidUserRoleValidationError.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/state/StateEntityACLValidatorImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/CaseTypeServiceImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casefield/CaseFieldEntityACLValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casefield/CaseFieldEntityComplexFieldACLValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/state/StateEntityACLValidatorImplTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/RestResponseEntityExceptionHandler.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseEventParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseFieldParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseStateParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseTypeParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationComplexTypeParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/CaseTypeParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParseContext.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImpl.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/RestResponseEntityExceptionHandlerTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/SpreadsheetValidationErrorMessageCreatorTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseStateParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseTypeParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/Authorisation.java
Labels: ns:ccd-definition-store-api-pr-465

#486 indentation of the condition needs to inside the base chart
  charts/ccd-definition-store-api/values.preview.template.yaml
Labels: ns:ccd-definition-store-api-pr-486

#483 RDM-5533 Disable X-Powered-By header
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/requirements.yaml
  web.config
Labels: ns:ccd-definition-store-api-pr-483
