Repository hmcts/ccd-definition-store-api, pull requests merged in 2020-11, with the labels that each got.

#788 RDM-9741: Revert Changes of RDM-9338
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/ImportDefinitionTest.java
  aat/src/aat/resources/features/F-091/F-091.feature
  aat/src/aat/resources/features/F-091/F-091_Test_Base_data.td.json
  aat/src/aat/resources/features/F-091/S-091.1.td.json
  aat/src/aat/resources/features/F-091/S-091.2.td.json
  aat/src/aat/resources/features/F-091/S-091.3.td.json
  aat/src/aat/resources/features/F-091/S-091.4.td.json
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/SpreadSheetImportTest.java
  application/src/test/resources/GetCaseTypesResponseForCCD_TestDefinition_V46.json
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/nocconfig/NoCConfigService.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/nocconfig/NoCConfigServiceImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/ServicesAutowiringTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/nocconfig/NoCConfigServiceImplTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/NoCConfigParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImpl.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/SheetName.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/NoCConfigParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  gradle/wrapper/gradle-wrapper.properties
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/NoCConfigRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/NoCConfigEntity.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-9741.xml
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/NoCConfigRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-788

#734 RDM-9551-TF
  build.gradle
  charts/ccd-definition-store-api/values.preview.template.yaml
  dependency-check-suppressions.xml
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-734

#709 RDM-9302 - Improve ES error messages on definition import
  build.gradle
  charts/ccd-definition-store-api/values.preview.template.yaml
  dependency-check-suppressions.xml
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/AsynchronousElasticDefinitionImportListener.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/ElasticDefinitionImportListener.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/SynchronousElasticDefinitionImportListener.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/ElasticsearchError.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/ElasticsearchErrorHandler.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/ElasticsearchErrorMessageBuilder.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/FieldTypeMappingErrorMessageBuilder.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/MaxFieldLimitErrorMessageBuilder.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/ElasticDefinitionImportListenerTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/ElasticsearchErrorTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/ElasticsearchErrorHandlerTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/ElasticsearchErrorMessageBuilderTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/FieldTypeMappingErrorMessageBuilderTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/MaxFieldLimitErrorMessageBuilderTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/TestElasticsearchErrorMessageBuilder.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/ControllerExceptionHandler.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-709

#793 Fix checkstyle issues
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/ElasticsearchError.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/ElasticsearchErrorHandler.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/ElasticsearchErrorMessageBuilder.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/FieldTypeMappingErrorMessageBuilder.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/MaxFieldLimitErrorMessageBuilder.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/ElasticsearchErrorTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/ElasticsearchErrorHandlerTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/ElasticsearchErrorMessageBuilderTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/FieldTypeMappingErrorMessageBuilderTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/MaxFieldLimitErrorMessageBuilderTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-793

#794 Updated user-profile-api-pr number
  charts/ccd-definition-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-794

#796 correct merge mistake
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/ImportDefinitionTest.java
  aat/src/aat/resources/features/F-091/F-091.feature
  aat/src/aat/resources/features/F-091/F-091_Test_Base_data.td.json
  aat/src/aat/resources/features/F-091/S-091.1.td.json
  aat/src/aat/resources/features/F-091/S-091.2.td.json
  aat/src/aat/resources/features/F-091/S-091.3.td.json
  aat/src/aat/resources/features/F-091/S-091.4.td.json
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/SpreadSheetImportTest.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/nocconfig/NoCConfigService.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/nocconfig/NoCConfigServiceImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/ServicesAutowiringTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/nocconfig/NoCConfigServiceImplTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/exception/handler/MaxFieldLimitErrorMessageBuilderTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/NoCConfigParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImpl.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/NoCConfigParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/NoCConfigRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/NoCConfigEntity.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/NoCConfigRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-796

#787 Rdm 9052
  application/build.gradle
  build.gradle
  dependency-check-suppressions.xml
  liquibase.gradle
  repository/build.gradle
  repository/src/main/resources/db/changelog/db.changelog-0.0.13.xml
  repository/src/main/resources/db/changelog/db.changelog-0.0.14.xml
  repository/src/main/resources/db/changelog/db.changelog-0.0.15.xml
  repository/src/main/resources/db/changelog/db.changelog-0.0.5.xml
  repository/src/main/resources/db/changelog/db.changelog-0.0.8.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-1074.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-1345.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-2835.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-2917.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-2918.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-3317.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-3327.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-4084.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6719.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6965.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-8509.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-9031.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-9338.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-9555.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-787

#798 Adjust develop merge resolutions
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-9031.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-9555.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-798

#750 RDM-9830 BugFix
  aat/src/aat/resources/features/F-093/S-600.2.td.json
  aat/src/aat/resources/features/F-093/S-600.3.td.json
  aat/src/aat/resources/features/F-093/S-600.4.td.json
  build.gradle
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/HiddenFieldsValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/HiddenFieldsValidatorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-750

#783 RDM-9893 - Remove OrganisationName complex subfield
  aat/src/aat/resources/features/F-080/S-080.1.td.json
  aat/src/aat/resources/features/F-086/S-375.td.json
  aat/src/aat/resources/features/F-089/S-089.2.td.json
  aat/src/aat/resources/features/F-090/S-090.3.td.json
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/S-094.1.td.json
  build.gradle
  charts/ccd-definition-store-api/values.preview.template.yaml
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-9893.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-783

#799 Rdm 10197
  Jenkinsfile_CNP
  aat/src/aat/resources/features/F-000/S-000.td.json
  aat/src/aat/resources/features/F-084/S-364.td.json
  aat/src/aat/resources/features/F-089/S-089.2.td.json
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/ReadinessHealthIndicator.java
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/SecurityConfiguration.java
  build.gradle
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/values.preview.template.yaml
  charts/ccd-definition-store-api/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-799

#807 Update build.gradle
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-807

#808 RDM-8698 : Elasticsearch exact match queries on phone numbers with spaces never return results
  elastic-search-support/src/main/resources/casesIndexSettings.json
  elastic-search-support/src/test/resources/integration/multi_casetypes_indices.json
  elastic-search-support/src/test/resources/integration/single_casetype_index.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-808

#809 bump befta
  aat/src/aat/resources/features/F-093/S-600.3.td.json
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/S-094.1.td.json
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-809

#802 Revert "RDM-9893 - Remove OrganisationName complex subfield"
  aat/src/aat/resources/features/F-080/S-080.1.td.json
  aat/src/aat/resources/features/F-086/S-375.td.json
  aat/src/aat/resources/features/F-089/S-089.2.td.json
  aat/src/aat/resources/features/F-090/S-090.3.td.json
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/S-094.1.td.json
  build.gradle
  charts/ccd-definition-store-api/values.preview.template.yaml
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-10238.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-802

#811 Release cut 20.2.0
  aat/src/aat/resources/features/F-000/S-000.td.json
  application/build.gradle
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/AliasWebConfig.java
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/ReadinessHealthIndicator.java
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/SecurityConfiguration.java
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/SwaggerConfiguration.java
  application/src/main/resources/application.properties
  build.gradle
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/values.preview.template.yaml
  dependency-check-suppressions.xml
  integration-tests/build.gradle
  liquibase.gradle
  repository/build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-811

#800 RDM 9860 refactor common response data
  aat/src/aat/resources/features/F-077/F-077_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-077/S-331.td.json
  aat/src/aat/resources/features/F-078/F-078_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-079/F-079_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-079/S-508.td.json
  aat/src/aat/resources/features/F-080/F-080_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-080/S-080.1.td.json
  aat/src/aat/resources/features/F-081/F-081_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-082/F-082_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-082/S-082.4.td.json
  aat/src/aat/resources/features/F-083/F-083_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-083/S-359.td.json
  aat/src/aat/resources/features/F-084/F-084_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-084/S-364.td.json
  aat/src/aat/resources/features/F-085/F-085_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-086/F-086_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-086/S-375.td.json
  aat/src/aat/resources/features/F-087/F-087_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-087/S-380.td.json
  aat/src/aat/resources/features/F-088/F-088_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-088/S-385.td.json
  aat/src/aat/resources/features/F-089/F-089_Test_Base_data.td.json
  aat/src/aat/resources/features/F-090/F-090_Test_Base_data.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/F-092_Test_Base_data.td.json
  aat/src/aat/resources/features/F-093/Test_Base_data.td.json
  aat/src/aat/resources/features/common/acls/AllGrantedAccessControlList.td.json
  aat/src/aat/resources/features/common/basedata/Get_Operation_Base_Data_on_Definition_Store.td.json
  aat/src/aat/resources/features/common/basedata/Post_Operation_Base_Data_on_Definition_Store.td.json
  aat/src/aat/resources/features/common/casefields/CaseEventFieldComplex.td.json
  aat/src/aat/resources/features/common/casefields/CaseField.td.json
  aat/src/aat/resources/features/common/fieldtypes/AllValidBaseTypeArrayPayload.td.json
  aat/src/aat/resources/features/common/fieldtypes/CaseEventField.td.json
  aat/src/aat/resources/features/common/fieldtypes/CommonFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/InputField.td.json
  aat/src/aat/resources/features/common/fieldtypes/ResultField.td.json
  aat/src/aat/resources/features/common/fieldtypes/WizardPageComplexFieldOverride.td.json
  aat/src/aat/resources/features/common/fieldtypes/WizardPageField.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseCaseHistoryViewerFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseCasePaymentHistoryViewerFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseCollectionFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseComplexFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseDateFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseDateTimeFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseDocumentFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseDynamicListFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseEmailFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseFixedListFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseFixedRadioListFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseLabelFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseMoneyGBPFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseMultiSelectListFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseNumberFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BasePhoneUKFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BasePostcodeFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseTextAreaFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseTextFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseYesOrNoFieldType.td.json
  aat/src/aat/resources/features/common/users/BeftaCaseworker3.td.json
  aat/src/aat/resources/features/common/users/DefaultUserForDefinitionImports.td.json
  aat/src/aat/resources/features/common/users/MasterCaseworker.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-800

#830 RDM-10199 Update the query to get rid of the cross join.
  charts/ccd-definition-store-api/values.preview.template.yaml
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/SearchAliasFieldRepository.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-830

#819 RDM-10294 Fix All Recent CVEs in All CCD Apps
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-819

#779 RDM-9580
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/TransactionConfiguration.java
  application/src/main/resources/application.properties
  charts/ccd-definition-store-api/values.yaml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/CaseRoleServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/DefinitionServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/JurisdictionServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/JurisdictionUiConfigServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/UserRoleServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/banner/BannerServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/casetype/CaseTypeServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayService.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/question/ChallengeQuestionTabServiceImpl.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/endpoint/ElasticsearchIndexController.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/AdminWebAuthorizationController.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/BaseTypeController.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/ProxyController.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/service/AzureImportAuditsClient.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/service/IdamProfileClient.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-779

#797 RDM-8934-timeBasedReExecutionOfTestData files
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestAutomationAdapter.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/TestDataLoaderMain.java
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-797

#833 Rdm 8934 new
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestAutomationAdapter.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/TestDataLoaderMain.java
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-833

#834 Add back db changelog
  elastic-search-support/src/main/resources/casesIndexSettings.json
  repository/src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-834

#836 RDM-9220 : Create Indexes on AAT Missing Compared to Demo -Master
  charts/ccd-definition-store-api/values.preview.template.yaml
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-9220.xml
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeLiteRepositoryTest.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-836

#837 RDM-10199 Update the query to remove a cross join.
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/SearchAliasFieldRepository.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-837
