Repository hmcts/ccd-definition-store-api, pull requests merged in 2020-03, with the labels that each got.

#528 RDM-7457 - SpringBoot to latest 2.2.4
  application/build.gradle
  application/src/main/resources/application.properties
  build.gradle
  dependency-check-suppressions.xml
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/AdminWebAuthorizationControllerTest.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/IdamProfileControllerTest.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/ImportAuditControllerTest.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-528

#558 Fixing develop branch tests
  aat/src/aat/resources/features/F-000/S-000.td.json
  aat/src/aat/resources/features/F-077/S-331.td.json
  aat/src/aat/resources/features/F-078/S-335.td.json
  aat/src/aat/resources/features/F-078/S-338.td.json
  aat/src/aat/resources/features/F-079/S-507.td.json
  aat/src/aat/resources/features/F-079/S-508.td.json
  aat/src/aat/resources/features/F-081/S-347.td.json
  build.gradle
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/DefinitionModelMapper.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/model/DefinitionModelMapperTest.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-558

#562 RDM-7899-Slack
  Jenkinsfile_CNP
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-562

#557 RDM-7631: Migrate Definition Store to OIDC
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/ImportDefinitionTest.java
  aat/src/aat/resources/features/F-000/S-000.td.json
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/ApplicationConfiguration.java
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/AuthCheckerConfiguration.java
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/IDAMHttpClientConfiguration.java
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/SecurityConfiguration.java
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/security/JwtGrantedAuthoritiesConverter.java
  application/src/main/resources/application.properties
  application/src/test/java/uk/gov/hmcts/ccd/definition/store/AuthCheckerConfigurationTest.java
  application/src/test/java/uk/gov/hmcts/ccd/definition/store/security/JwtGrantedAuthoritiesConverterTest.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/BaseTest.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/TestConfiguration.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/TestIdamConfiguration.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/SpreadSheetImportTest.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/rest/MultipleControllersEndpointIT.java
  application/src/test/resources/mappings/_idam_default.json
  application/src/test/resources/mappings/_s2s_default.json
  application/src/test/resources/mappings/_user_profile.json
  application/src/test/resources/test.properties
  build.gradle
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/values.yaml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/ApplicationParams.java
  infrastructure/main.tf
  integration-tests/src/test/java/uk/gov/hmcts/integration/IdamIT.java
  integration-tests/src/test/java/uk/gov/hmcts/integration/ServiceToServiceIT.java
  integration-tests/src/test/resources/integration_tests.properties
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/AuthClientConfiguration.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/SecurityUtils.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/security/idam/IdamRepository.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/SecurityUtilsTest.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/TestConfiguration.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/security/idam/IdamRepositoryTest.java
  repository/src/test/resources/test.properties
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/service/IdamProfileClient.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/service/IdamProfileClientTest.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/service/IdamProfileServiceTest.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-557

#563 RDM-7631 - using idam-web-public as recommended by IDAM team
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/helper/idam/IdamApi.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/helper/idam/IdamHelper.java
  charts/ccd-definition-store-api/values.yaml
  infrastructure/demo.tfvars
Labels: ns:ccd, rel:ccd-definition-store-api-pr-563

#546 Rdm 7162
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/rest/MultipleControllersEndpointIT.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/JurisdictionServiceImpl.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/JurisdictionRepository.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-546

#556 RDM-7867-Update-base-chart
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/requirements.yaml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-556

#548 RDM-7627 Validation for #TABLE
  application/src/test/resources/CCD_TestDefinition_V46_RDM-6719.xlsx
  application/src/test/resources/GetCaseTypesResponseForCCD_TestDefinition_V45.json
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/model/DefinitionDataItem.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/model/DefinitionSheet.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/model/DisplayContextParameter.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/DisplayContextParameterValidator.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SpreadsheetValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/DisplayContextParameterValidatorTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SpreadsheetValidatorTest.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-548

#568 Rdm 7986
  Jenkinsfile_CNP
  aat/src/aat/resources/features/F-077/F-077.feature
  aat/src/aat/resources/features/F-077/S-331.td.json
  aat/src/aat/resources/features/F-078/S-335.td.json
  aat/src/aat/resources/features/F-078/S-338.td.json
  aat/src/aat/resources/features/F-079/F-079.feature
  aat/src/aat/resources/features/F-079/S-507.td.json
  aat/src/aat/resources/features/F-079/S-508.td.json
  aat/src/aat/resources/features/F-081/S-347.td.json
  aat/src/aat/resources/features/F-083/S-359.td.json
  aat/src/aat/resources/features/F-084/S-364.td.json
  aat/src/aat/resources/features/F-087/F-087.feature
  aat/src/aat/resources/features/F-087/S-380.td.json
  aat/src/aat/resources/features/F-088/F-088.feature
  aat/src/aat/resources/features/F-088/S-385.td.json
  build.gradle
  integration-tests/.project
Labels: ns:ccd, rel:ccd-definition-store-api-pr-568

#569 refactor test data to reuse common objects
  aat/src/aat/resources/features/F-077/S-331.td.json
  aat/src/aat/resources/features/F-079/S-507.td.json
  aat/src/aat/resources/features/F-079/S-508.td.json
  build.gradle
Labels: ns:ccd, rel:ccd-definition-store-api-pr-569

#574 Revert "Rdm 7162"
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/rest/MultipleControllersEndpointIT.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/JurisdictionServiceImpl.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/JurisdictionRepository.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-574

#577 RDM-7162 Add Jurisdictions
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/rest/MultipleControllersEndpointIT.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/JurisdictionServiceImpl.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/JurisdictionRepository.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-577

#578 Terraform cleanup
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/ithc.tfvars
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/perftest.tfvars
  infrastructure/preview.tfvars
  infrastructure/prod.tfvars
  infrastructure/saat.tfvars
  infrastructure/sandbox.tfvars
  infrastructure/sprod.tfvars
  infrastructure/variables.tf
Labels: ns:ccd, rel:ccd-definition-store-api-pr-578
