Repository hmcts/ccd-definition-store-api, pull requests merged in 2020-02, with the labels that each got.

#530 suppressed CVE-2020-5398 temporarily
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-530

#500 RDM-6965 - Jurisdiction-Level Shuttering
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapper.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/JurisdictionUiConfigService.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/JurisdictionUiConfigServiceImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/JurisdictionUiConfigServiceImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/ServicesAutowiringTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/JurisdictionUiConfigParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImpl.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/ColumnName.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/JurisdictionUiConfigParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/JurisdictionUiConfigRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/JurisdictionUiConfigEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/JurisdictionUiConfig.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/JurisdictionUiConfigResult.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6965.xml
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/JurisdictionUiConfigRepositoryTest.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/DisplayApiController.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/DisplayApiControllerTest.java
Labels: ns:ccd, ns:ccd-definition-store-api-pr-500, rel:ccd-definition-store-api-pr-500

#532 Rdm 7499 Proper fix to get latest configured n blobs. Azure API always returns from the first committed blob hence there needs to be a logic that pulls by PREFIX until it gets configured n blobs.
  application/src/main/resources/application.properties
  charts/ccd-definition-store-api/values.yaml
  infrastructure/main.tf
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/ImportAuditController.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/service/AzureImportAuditsClient.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/ImportAuditControllerTest.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/service/AzureImportAuditsClientTest.java
Labels: bug, ns:ccd, rel:ccd-definition-store-api-pr-532

#525 Release cut 17.1
  application/src/main/resources/application.properties
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/BaseTest.java
  application/src/test/resources/CCD_TestDefinition_V46_RDM-6719.xlsx
  application/src/test/resources/ccd-definition-wrong-complex-type.xlsx
  application/src/test/resources/ccd_testdefinition-missing-WorkBasketResultFields.xlsx
  build.gradle
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/values.preview.template.yaml
  charts/ccd-definition-store-api/values.yaml
  dependency-check-suppressions.xml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/ApplicationParams.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/CaseRoleServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapper.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/JurisdictionServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/banner/BannerService.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/banner/BannerServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/ValidationError.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casefield/CaseFieldEntityValidationContext.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/caserole/CaseRoleEntityUniquenessValidatorImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/CaseRoleServiceImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/ServicesAutowiringTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/caserole/CaseRoleEntityUniquenessValidatorImplTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/SpreadsheetValidationErrorMessageCreator.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/BannerParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImpl.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/ColumnName.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/SheetName.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/SpreadsheetValidationErrorMessageCreatorTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/BannerParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SpreadsheetParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  excel-importer/src/test/resources/CCD_TestDefinition.xlsx
  excel-importer/src/test/resources/CCD_TestDefinition_V12.xlsx
  infrastructure/main.tf
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/BannerRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/BannerEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/Banner.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/BannersResult.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/Jurisdiction.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6719.xml
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/DisplayApiController.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/ImportAuditController.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/service/AzureImportAuditsClient.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/DisplayApiControllerTest.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/DraftDefinitionControllerTest.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/ImportAuditControllerTest.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/service/AzureImportAuditsClientTest.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-525

#529 RDM-7432 Introduce BEFTA FW into repository
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  aat/build.gradle
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreBeftaMain.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestAutomationAdapter.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestDataLoader.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/AATHelper.java
  aat/src/aat/resources/CCD_BEFTA_JURISDICTION2.xlsx
  aat/src/aat/resources/CCD_BEFTA_JURISDICTION3.xlsx
  aat/src/aat/resources/features/F-000/F-000.feature
  aat/src/aat/resources/features/F-000/S-000.td.json
  build.gradle
Labels: ns:ccd, rel:ccd-definition-store-api-pr-529

#533 RDM-6470 feature file and json files for F-079 get case type by id
  aat/src/aat/resources/features/F-000/S-000.td.json
  aat/src/aat/resources/features/F-079/F-079.feature
  aat/src/aat/resources/features/F-079/F-079_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-079/S-507.td.json
  aat/src/aat/resources/features/F-079/S-508.td.json
  aat/src/aat/resources/features/F-079/S-509.td.json
  aat/src/aat/resources/features/F-079/S-510.td.json
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-533

#540 Rdm 6955 Duplicate Object IDs Not Reported
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestAutomationAdapter.java
  build.gradle
Labels: checkpoint, ns:ccd, rel:ccd-definition-store-api-pr-540

#514 RDM-6450 - Drop obsolete columns from event
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6450.xml
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeObjectGraphTest.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-514

#519 RDM-6449 - Drop webhook_timeout table
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-6449.xml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-519

#534 RDM-7554 Remove the deprecated enableDockerBuild
  Jenkinsfile_CNP
Labels: ns:ccd, rel:ccd-definition-store-api-pr-534

#536 RDM-6468 functional tests get base types
  aat/src/aat/resources/features/F-077/F-077.feature
  aat/src/aat/resources/features/F-077/F-077_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-077/S-329.td.json
  aat/src/aat/resources/features/F-077/S-330.td.json
  aat/src/aat/resources/features/F-077/S-331.td.json
Labels: ns:ccd, rel:ccd-definition-store-api-pr-536

#537 RDM-7577
  build.gradle
  charts/ccd-definition-store-api/values.preview.template.yaml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-537

#541 RDM-6472 Functional tests for get jurisdictions
  aat/src/aat/resources/features/F-081/F-081.feature
  aat/src/aat/resources/features/F-081/F-081_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-081/S-347.td.json
  aat/src/aat/resources/features/F-081/S-348.td.json
  aat/src/aat/resources/features/F-081/S-349.td.json
  aat/src/aat/resources/features/F-081/S-350.td.json
Labels: ns:ccd, rel:ccd-definition-store-api-pr-541

#542 RDM-6469 functional tests for get case type versions
  aat/src/aat/resources/features/F-078/F-078.feature
  aat/src/aat/resources/features/F-078/F-078_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-078/S-335.td.json
  aat/src/aat/resources/features/F-078/S-336.td.json
  aat/src/aat/resources/features/F-078/S-337.td.json
  aat/src/aat/resources/features/F-078/S-338.td.json
Labels: ns:ccd, rel:ccd-definition-store-api-pr-542

#523 RDM-5690 - added new matadata field "LAST_STATE_MODIFIED_DATE"
  Jenkinsfile_CNP
  aat/.gitignore
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreBeftaMain.java
  aat/src/aat/resources/CCD_BEFTA_JURISDICTION3.xlsx
  aat/src/aat/resources/features/F-083/F-083.feature
  aat/src/aat/resources/features/F-083/F-083_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-083/S-356.td.json
  aat/src/aat/resources/features/F-083/S-357.td.json
  aat/src/aat/resources/features/F-083/S-358.td.json
  aat/src/aat/resources/features/F-083/S-359.td.json
  aat/src/aat/resources/features/F-084/F-084.feature
  aat/src/aat/resources/features/F-084/F-084_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-084/S-361.td.json
  aat/src/aat/resources/features/F-084/S-362.td.json
  aat/src/aat/resources/features/F-084/S-363.td.json
  aat/src/aat/resources/features/F-084/S-364.td.json
  aat/src/aat/resources/features/F-087/F-087.feature
  aat/src/aat/resources/features/F-087/F-087_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-087/S-377.td.json
  aat/src/aat/resources/features/F-087/S-378.td.json
  aat/src/aat/resources/features/F-087/S-379.td.json
  aat/src/aat/resources/features/F-087/S-380.td.json
  aat/src/aat/resources/features/F-088/F-088.feature
  aat/src/aat/resources/features/F-088/F-088_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-088/S-382.td.json
  aat/src/aat/resources/features/F-088/S-383.td.json
  aat/src/aat/resources/features/F-088/S-384.td.json
  aat/src/aat/resources/features/F-088/S-385.td.json
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/SpreadSheetImportTest.java
  application/src/test/resources/CCD_TestDefinition_V46_RDM-4324.xlsx
  application/src/test/resources/CCD_TestDefinition_V46_RDM-6719.xlsx
  application/src/test/resources/GetCaseTypesResponseForCCD_TestDefinition_V45.json
  build.gradle
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/metadata/MetadataField.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-5690.xml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-523

#543 Rdm 7648
  aat/build.gradle
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestAutomationAdapter.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/TestDataLoaderMain.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/DataSetupExtension.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/elasticsearch/ElasticsearchImportDefinitionTest.java
  aat/src/aat/resources/CCD_BEFTA_JURISDICTION2.xlsx
  aat/src/aat/resources/CCD_BEFTA_JURISDICTION3.xlsx
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-543

#539 RDM-7503 - Allow metadata fields in show conditions
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/metadata/MetadataField.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/complexfield/ComplexFieldEntityShowConditionValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/PageShowConditionValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/TabShowConditionValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefield/EventCaseFieldShowConditionValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefieldcomplextype/EventComplexTypeShowConditionValidatorImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/metadata/MetadataFieldTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/complexfield/ComplexFieldEntityShowConditionValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/PageShowConditionValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/TabShowConditionValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefield/EventCaseFieldShowConditionValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefieldcomplextype/EventComplexTypeShowConditionValidatorImplTest.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-539
