Repository hmcts/ccd-definition-store-api, pull requests merged in 2020-09, with the labels that each got.

#683 RDM-8698 : exact match queries on phone numbers with or without spaces
  elastic-search-support/src/main/resources/application.yml
  elastic-search-support/src/main/resources/casesIndexSettings.json
  elastic-search-support/src/test/resources/integration/multi_casetypes_indices.json
  elastic-search-support/src/test/resources/integration/single_casetype_index.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-683

#702 RDM-9262 - Support automatic Elasticsearch index creation
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/SecurityConfiguration.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/ElasticDefinitionImportListener.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/endpoint/ElasticsearchIndexController.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/model/IndicesCreationResult.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/ElasticsearchConfigurationIT.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/endpoint/ElasticsearchIndexControllerTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/model/IndicesCreationResultTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeRepository.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-702

#708 RDM-9033: Introduce ChangeOrganisationRequest Complex Field Standard …
  aat/src/aat/resources/features/F-080/S-080.1.td.json
  aat/src/aat/resources/features/F-086/S-375.td.json
  aat/src/aat/resources/features/F-089/S-089.2.td.json
  aat/src/aat/resources/features/F-090/F-090.feature
  aat/src/aat/resources/features/F-090/F-090_Test_Base_data.td.json
  aat/src/aat/resources/features/F-090/F-090_Test_Complex_Organisation.td.json
  aat/src/aat/resources/features/F-090/S-090.2.td.json
  aat/src/aat/resources/features/F-090/S-090.3.td.json
  build.gradle
  dependency-check-suppressions.xml
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeUtils.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-9033.xml
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-708

#715 upgrade to latest fw
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-715

#716 Rdm 9493
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-716

#717 RDM-9522 - Use befta-fw release providing callback url substitution
  Jenkinsfile_CNP
  aat/src/aat/resources/features/F-080/S-080.1.td.json
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-717

#720 Revert rdm 8698
  elastic-search-support/src/main/resources/application.yml
  elastic-search-support/src/main/resources/casesIndexSettings.json
  elastic-search-support/src/test/resources/integration/multi_casetypes_indices.json
  elastic-search-support/src/test/resources/integration/single_casetype_index.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-720

#719 RDM-9338: Introduce NoC config tab
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/ImportDefinitionTest.java
  aat/src/aat/resources/features/F-091/F-091.feature
  aat/src/aat/resources/features/F-091/F-091_Test_Base_data.td.json
  aat/src/aat/resources/features/F-091/S-091.1.td.json
  aat/src/aat/resources/features/F-091/S-091.2.td.json
  aat/src/aat/resources/features/F-091/S-091.3.td.json
  aat/src/aat/resources/features/F-091/S-091.4.td.json
  aat/src/resource/CCD_CNP_27_CaseType_Invalid_Case_Type_NoC_Config.xlsx
  aat/src/resource/CCD_CNP_27_CaseType_Invalid_NoC_Config.xlsx
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/SpreadSheetImportTest.java
  application/src/test/resources/CCD_TestDefinition_Invalid_Case_Type_NOC_CONFIG.xlsx
  application/src/test/resources/CCD_TestDefinition_Invalid_NOC_CONFIG.xlsx
  application/src/test/resources/CCD_TestDefinition_NOC_CONFIG.xlsx
  build.gradle
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/nocconfig/NoCConfigService.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/nocconfig/NoCConfigServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefieldcomplextype/EventComplexTypeEntityDefaultValueValidatorImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/ServicesAutowiringTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/nocconfig/NoCConfigServiceImplTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/NoCConfigParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImpl.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/ColumnName.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/SheetName.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/NoCConfigParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/DisplayContextParameterValidatorTest.java
  excel-importer/src/test/resources/CCD_TestDefinition.xlsx
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/NoCConfigRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/BannerEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/NoCConfigEntity.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-9338.xml
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/NoCConfigRepositoryTest.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/TestHelper.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-719

#705 RDM-9024
  aat/src/aat/resources/features/F-079/S-508.td.json
  aat/src/aat/resources/features/F-080/S-080.1.td.json
  aat/src/aat/resources/features/F-089/S-089.2.td.json
  aat/src/aat/resources/features/F-090/S-090.3.td.json
  application/src/test/resources/CCD_TestDefinition_V46_RDM-6719.xlsx
  application/src/test/resources/GetCaseTypesResponseForCCD_TestDefinition_V45.json
  dependency-check-suppressions.xml
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ComplexFieldTypeParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventCaseFieldParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/model/DefinitionDataItem.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/ColumnName.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/HiddenFieldsValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventCaseFieldParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/HiddenFieldsValidatorTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/ComplexFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/CaseEventField.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/CaseField.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-9024.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-705

#718 Rdm-9024 functional tests
  aat/src/aat/resources/features/F-093/F-093.feature
  aat/src/aat/resources/features/F-093/S-600.1.td.json
  aat/src/aat/resources/features/F-093/S-600.2.td.json
  aat/src/aat/resources/features/F-093/S-600.3.td.json
  aat/src/aat/resources/features/F-093/S-600.4.td.json
  aat/src/aat/resources/features/F-093/Test_Base_data.td.json
  build.gradle
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/HiddenFieldsValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/HiddenFieldsValidatorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-718

#732 Set ES host back to develop PR
  charts/ccd-definition-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-732

#729 RDM 9303
  aat/build.gradle
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeRepository.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-729

#721 RDM-9343 - Allow case-insensitive sorts
  elastic-search-support/src/main/resources/application.yml
  elastic-search-support/src/main/resources/casesIndexSettings.json
  elastic-search-support/src/test/resources/integration/case_type_mapping.json
  elastic-search-support/src/test/resources/integration/multi_casetypes_indices.json
  elastic-search-support/src/test/resources/integration/single_casetype_index.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-721

#738 Rdm 9453
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SpreadSheetValidationMappingEnum.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-9453.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-738

#743 Revert user-profile to develop
  charts/ccd-definition-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-743

#723 Rdm 9031
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/question/ChallengeQuestionTabService.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/question/ChallengeQuestionTabServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/ChallengeQuestionDisplayContextParameterValidator.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/ChallengeQuestionTabServiceImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/ServicesAutowiringTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ChallengeQuestionParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImpl.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/ColumnName.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/SheetName.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/ChallengeQuestionValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ChallengeQuestionParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/ChallengeQuestionValidatorTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/ChallengeQuestionTabRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/ChallengeQuestionTabEntity.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-9031.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-723

#730 RDM-9577 - Introduce getChallengeQuestions API
  application/src/main/resources/application.properties
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapper.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/question/ChallengeQuestionTabService.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/question/ChallengeQuestionTabServiceImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/ChallengeQuestionTabServiceImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/ChallengeQuestionTabRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/ChallengeQuestion.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/ChallengeQuestionsResult.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/ChallengeQuestionTabRepositoryTest.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/DisplayApiController.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/DisplayApiControllerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-730

#737 RDM-9577 tests
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestAutomationAdapter.java
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/F-094.feature
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/F-094_Test_Data_Base.td.json
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/S-094.1.td.json
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/S-094.2.td.json
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/S-094.4.td.json
  build.gradle
  elastic-search-support/src/main/resources/application.yml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-737
