Repository hmcts/ccd-definition-store-api, pull requests merged in 2020-08, with the labels that each got.

#625 RDM-8702 bugfix
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/GenericLayoutParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/LayoutParser.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/GenericLayoutParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/LayoutParserTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-625

#674 Rdm 8932
  app-insights/src/main/java/uk/gov/hmcts/ccd/definition/store/AppInsights.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/DisplayApiController.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-674

#685 Correct 19.1 liquibase changelog ordering
  repository/src/main/resources/db/changelog/db.changelog-master.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-685

#694 Fix Functional tests
  aat/src/aat/resources/features/F-079/F-079.feature
  aat/src/aat/resources/features/F-079/S-508.td.json
  aat/src/aat/resources/features/F-089/F-089.feature
  aat/src/aat/resources/features/F-089/S-089.2.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-694

#693 RDM-8962 CI-CD Improve performance of definition importing
  application/src/main/resources/application.properties
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseEventParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseFieldParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/CaseTypeParser.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseEventParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseFieldParserTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/CaseFieldEntityUtil.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/Authorisation.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseTypeEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/ComplexFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/DisplayGroupCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/DisplayGroupEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventWebhookEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/FieldTypeEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/FieldTypeListItemEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/StateEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/WebhookEntity.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-8692.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-693

#695 Fix functional test
  aat/src/aat/resources/features/F-086/S-375.td.json
  aat/src/aat/resources/features/F-089/S-089.2.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-695

#696 assert case fields unordered
  aat/src/aat/resources/features/F-089/S-089.2.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-696

#672 RDM-9040 - Configurable total fields limit for ES indices
  build.gradle
  charts/ccd-definition-store-api/values.yaml
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/client/HighLevelCCDElasticClient.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/config/CcdElasticSearchProperties.java
  elastic-search-support/src/main/resources/application.yml
  elastic-search-support/src/main/resources/casesIndexSettings.json
  liquibase.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-672

#701 enhance pipeline logic per build type
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-701

#703 Update Chart.yaml
  charts/ccd-definition-store-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-703

#698 RDM-8857 CI/CD
  elastic-search-support/src/main/resources/application.yml
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/integration/CaseMappingGenerationIT.java
  elastic-search-support/src/test/resources/application-default.yml
  elastic-search-support/src/test/resources/application.yml
  elastic-search-support/src/test/resources/integration/case_type_mapping.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-698

#684 Rdm 2676
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-2676.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-684

#706 RDM 9342
  .gitignore
  Jenkinsfile_CNP
  aat/build.gradle
  aat/src/aat/resources/DummyTest.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-706

#686 RDM-8869 - Allow ignoring fields in ES by declaring them non searchable
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/genericlayout/GenericLayoutSearchableValidatorImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/genericlayout/GenericLayoutSearchableValidatorImplTest.java
  elastic-search-support/build.gradle
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/mapping/CaseMappingGenerator.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/mapping/type/CollectionTypeMappingGenerator.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/mapping/type/ComplexTypeMappingGenerator.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/mapping/type/TypeMappingGenerator.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/CcdElasticsearchContainer.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/ElasticsearchBaseTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/ElasticsearchConfigurationIT.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/ElasticsearchContainerInitializer.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/SynchronousElasticDefinitionImportListenerIT.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/hamcresutil/IsEqualJSON.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/integration/CaseMappingGenerationIT.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/mapping/AbstractMapperTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/mapping/StubComplexTypeMappingGenerator.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/mapping/StubTypeMappingGenerator.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/mapping/type/BaseTypeMappingGeneratorTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/mapping/type/CollectionTypeMappingGeneratorTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/mapping/type/ComplexTypeMappingGeneratorTest.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/mapping/type/TypeMappingGeneratorTest.java
  elastic-search-support/src/test/resources/application-default.yml
  elastic-search-support/src/test/resources/integration/case_type_mapping.json
  elastic-search-support/src/test/resources/integration/multi_casetypes_indices.json
  elastic-search-support/src/test/resources/integration/single_casetype_index.json
  elastic-search-support/src/test/resources/json/type_mapping_collection_complex_type_disabled.json
  elastic-search-support/src/test/resources/json/type_mapping_complex_type_disabled.json
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/CaseFieldParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ComplexFieldTypeParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/model/DefinitionDataItem.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/ColumnName.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/CaseFieldParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/model/DefinitionDataItemTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/LayoutSheetType.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/ComplexFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/FieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/GenericLayoutEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/InputCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/SearchCasesResultFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/SearchResultCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/WorkBasketCaseFieldEntity.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-8869.xml
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseFieldEntityTest.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/entity/GenericLayoutEntityTest.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/utils/CaseFieldBuilder.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/utils/ComplexFieldBuilder.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-686
