Repository hmcts/ccd-definition-store-api, pull requests merged in 2020-04, with the labels that each got.

#580 RDM-8094 - disable issuer validation until idam migration is complete
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/SecurityConfiguration.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-580

#582 Rdm 7440
  README.md
  aat/src/aat/resources/features/F-000/S-000.td.json
  aat/src/aat/resources/features/F-077/F-077_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-078/F-078_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-079/F-079_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-081/F-081_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-083/F-083_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-084/F-084_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-087/F-087_Test_Base_Data.td.json
  aat/src/aat/resources/features/F-088/F-088_Test_Base_Data.td.json
  build.gradle
Labels: ns:ccd, rel:ccd-definition-store-api-pr-582

#566 RDM- 7800 - ShowConditions on Workbasket and Search Input fields
  aat/src/aat/resources/features/F-083/S-359.td.json
  aat/src/aat/resources/features/F-087/S-380.td.json
  application/src/test/resources/CCD_TestDefinition_V46_RDM-6719.xlsx
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapper.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/LayoutServiceImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/genericlayout/GenericLayoutEntityElementPathValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/genericlayout/GenericLayoutEntityOrderValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/genericlayout/GenericLayoutEntityValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/genericlayout/GenericLayoutShowConditionValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/genericlayout/GenericLayoutValidator.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/genericlayout/GenericLayoutEntityElementPathValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/genericlayout/GenericLayoutEntityOrderValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/genericlayout/GenericLayoutEntityValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/genericlayout/GenericLayoutShowConditionValidatorTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/GenericLayoutParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SearchInputLayoutParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SearchResultLayoutParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/WorkbasketInputLayoutParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/WorkbasketLayoutParser.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/GenericLayoutParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SearchInputLayoutParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SearchResultLayoutParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/WorkbasketInputLayoutParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/WorkbasketLayoutParserTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/GenericLayoutEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/InputCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/SearchInputCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/WorkBasketInputCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/SearchInputField.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/WorkbasketInputField.java
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-7800.xml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-566

#555 RDM-7843-Stale-PR
  .github/stale.yml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-555

#586 Fix build issue
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreBeftaRunner.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestAutomationAdapter.java
  build.gradle
Labels: ns:ccd, rel:ccd-definition-store-api-pr-586

#581 RDM-8057 BUGFIX
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/datetime/DateTimeFormatParser.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/displaycontextparameter/DisplayContextParameter.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaycontextparameter/AbstractDisplayContextParameterValidator.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaycontextparameter/DateTimeDisplayValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaycontextparameter/DateTimeEntryValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaycontextparameter/DisplayContextParameterValidator.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/datetime/DateTimeFormatParserTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/displaycontextparameter/DisplayContextParameterTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/complexfield/ComplexFieldEntityDisplayContextParameterTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaycontextparameter/DateTimeDisplayValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaycontextparameter/DateTimeEntryValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/DisplayGroupDateTimeDisplayContextParameterValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefield/EventCaseFieldDateTimeDisplayContextParameterValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/genericlayout/GenericLayoutEntityDisplayContextParameterValidatorImplTest.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-581

#588 Set order on preferred exception handler
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/ControllerExceptionHandler.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-588

#591 RDM-8251 - Separate display/entry regex; add exclusions to entry
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaycontextparameter/DateTimeDisplayValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaycontextparameter/DateTimeEntryValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaycontextparameter/DisplayContextParameterValidator.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-591

#595 OIDC Release
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/ImportDefinitionTest.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/helper/idam/IdamApi.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/helper/idam/IdamHelper.java
  aat/src/aat/resources/features/F-000/S-000.td.json
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/ApplicationConfiguration.java
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/AuthCheckerConfiguration.java
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/IDAMHttpClientConfiguration.java
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/SecurityConfiguration.java
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/security/JwtGrantedAuthoritiesConverter.java
  application/src/main/resources/application.properties
  application/src/test/java/uk/gov/hmcts/ccd/definition/store/AuthCheckerConfigurationTest.java
  application/src/test/java/uk/gov/hmcts/ccd/definition/store/security/JwtGrantedAuthoritiesConverterTest.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/BaseTest.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/TestConfiguration.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/TestIdamConfiguration.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/SpreadSheetImportTest.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/rest/MultipleControllersEndpointIT.java
  application/src/test/resources/mappings/_idam_default.json
  application/src/test/resources/mappings/_s2s_default.json
  application/src/test/resources/mappings/_user_profile.json
  application/src/test/resources/test.properties
  build.gradle
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/values.preview.template.yaml
  charts/ccd-definition-store-api/values.yaml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/ApplicationParams.java
  infrastructure/main.tf
  integration-tests/src/test/java/uk/gov/hmcts/integration/IdamIT.java
  integration-tests/src/test/java/uk/gov/hmcts/integration/ServiceToServiceIT.java
  integration-tests/src/test/resources/integration_tests.properties
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/AuthClientConfiguration.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/SecurityUtils.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/security/idam/IdamRepository.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/SecurityUtilsTest.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/TestConfiguration.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/security/idam/IdamRepositoryTest.java
  repository/src/test/resources/test.properties
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/service/IdamProfileClient.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/service/IdamProfileClientTest.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/service/IdamProfileServiceTest.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-595

#597 marked these negative tests as ignore as they are failing in the requ…
  aat/src/aat/resources/features/F-078/F-078.feature
  aat/src/aat/resources/features/F-079/F-079.feature
Labels: ns:ccd, rel:ccd-definition-store-api-pr-597

#598 RDM-8227 - Set order on preferred exception handler
  aat/src/aat/resources/features/F-078/F-078.feature
  aat/src/aat/resources/features/F-079/F-079.feature
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/ControllerExceptionHandler.java
Labels: ns:ccd, rel:ccd-definition-store-api-pr-598

#602 Rdm 8264 test
  .github/workflows/codecov.yml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-602

#594 Fix outdated Swagger docs in reform-api-docs
  .github/workflows/swagger.yml
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/SwaggerConfiguration.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/SwaggerGeneratorTest.java
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-594

#593 RDM-8264 Move to Github Actions
  .github/workflows/codecov.yml
  .travis.yml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-593

#587 RDM-8223 - Change field type of Date metadata fields to be DateTime
  application/src/test/resources/GetCaseTypesResponseForCCD_TestDefinition_V35.json
  application/src/test/resources/GetCaseTypesResponseForCCD_TestDefinition_V45.json
  repository/src/main/resources/db/changelog/db.changelog-master.xml
  repository/src/main/resources/db/changelog/db.changelog-rdm-8223.xml
Labels: ns:ccd, rel:ccd-definition-store-api-pr-587
