Repository hmcts/ccd-definition-store-api, pull requests merged in 2020-07, with the labels that each got.

#633 Rdm 8784 helm renovate
  .github/renovate.json
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/requirements.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-633

#659 Disabled ES on preview by default
  charts/ccd-definition-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-659

#663 Fixed CVE 11996 issue
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-663

#628 Rdm 8747
  charts/ccd-definition-store-api/values.yaml
  elastic-search-support/src/main/resources/application.yml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-628

#652 RDM-8515 - Support empty Banner tab
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/banner/BannerService.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/banner/BannerServiceImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/banner/BannerServiceImplTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/BannerParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImpl.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/BannerParserTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/BannerRepository.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/BannerRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-652

#661 RDM-8788 - Java 11 upgrade
  .github/workflows/codecov.yml
  Dockerfile
  aat/build.gradle
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/DataSetupExtension.java
  build.gradle
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/PostgreSQLEnumType.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-661

#666 Rdm 8808 renovate
  .github/renovate.json
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-666

#664 RDM 8857-Adding a new elastic map for dynamic list
  elastic-search-support/src/main/resources/application.yml
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/integration/CaseMappingGenerationIT.java
  elastic-search-support/src/test/resources/application-default.yml
  elastic-search-support/src/test/resources/application.yml
  elastic-search-support/src/test/resources/integration/case_type_mapping.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-664

#679 Aca 11
  aat/src/aat/resources/features/F-080/S-080.1.td.json
  aat/src/aat/resources/features/F-086/S-375.td.json
  aat/src/aat/resources/features/F-087/S-380.td.json
  build.gradle
  charts/ccd-definition-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-679

#681 Update dependency-check-suppressions.xml for Green Master Build
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-681

#680 RDM-9143: Enable elastic search
  charts/ccd-definition-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-680
