Repository hmcts/ccd-definition-store-api, pull requests merged in 2021-08, with the labels that each got.

#1041 Merge pull request for CCD-436 Improve CCD Performance
  dependency-check-suppressions.xml
  repository/src/main/resources/db/migration/V20210716_436__CCD-436_Drop_duplicate_indexes.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1041

#1053 RDM-12678 - Add SearchParty complex base type
  charts/ccd-definition-store-api/Chart.yaml
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeUtils.java
  repository/src/main/resources/db/migration/V20210802_12678__RDM-12678-SearchParty_ComplexType.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1053

#1034 CCD-382 SQL injection vulnerability:
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/ImportDefinitionTest.java
  aat/src/resource/CCD_CNP_27_Invalid_CaseField_ID.xlsx
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/ValidationErrorMessageCreator.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casefield/CaseFieldEntityIdValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casefield/CaseFieldEntityInvalidIdValidationError.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/casefield/CaseFieldEntityIdValidatorImplTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/SpreadsheetValidationErrorMessageCreator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/SpreadsheetValidationErrorMessageCreatorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1034

#1054 Rdm 12679 - Add SearchCriteria Complex Base Type
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeUtils.java
  repository/src/main/resources/db/migration/V20210803_12679__RDM-12679-SearchCriteria_ComplexType.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1054

#1049 Change EAGER fetch in relations to LAZY
  dependency-check-suppressions.xml
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/Authorisation.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/BannerEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseTypeEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/ComplexFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/DisplayGroupCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/DisplayGroupEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventLiteEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventWebhookEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/GenericLayoutEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/JurisdictionUiConfigEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/StateEntity.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeLiteRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1049

#1057 Revert "Change EAGER fetch in relations to LAZY"
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/Authorisation.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/BannerEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseTypeEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/ComplexFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/DisplayGroupCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/DisplayGroupEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventLiteEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventWebhookEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/GenericLayoutEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/JurisdictionUiConfigEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/StateEntity.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeLiteRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1057

#1058 Suppress CVE's
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1058

#1062 scale p def store db temporarily
  infrastructure/perftest.tfvars
  infrastructure/prod.tfvars
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1062

#1072 RDM-12754 Fix: Definition Store FTAs import raw BEFTA definition files with invalid callbacks
  aat/.gitignore
  aat/build.gradle
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreBeftaMain.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreBeftaRunner.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestAutomationAdapter.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/elasticsearch/ElasticsearchImportDefinitionTest.java
  aat/src/aat/resources/features/F-089/S-089.1.td.json
  aat/src/aat/resources/features/F-090/S-090.2.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.7.td.json
  aat/src/aat/resources/features/F-093/S-600.1.td.json
  aat/src/aat/resources/features/F-095 Event Enabling Condition/S-095.2.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.1.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.12.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.3.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.5.td.json
  aat/src/aat/resources/features/F-098 rename of UserRole to AccessProfile/S-098.1.td.json
  aat/src/aat/resources/features/F-098 rename of UserRole to AccessProfile/S-098.2.td.json
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1072
