Repository hmcts/ccd-definition-store-api, pull requests merged in 2021-06, with the labels that each got.

#1007 CCD-1223: separate beta-fw & ccd-test-defintions
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestAutomationAdapter.java
  aat/src/aat/resources/features/F-089/S-089.1.td.json
  aat/src/aat/resources/features/F-089/S-089.3.td.json
  aat/src/aat/resources/features/F-090/S-090.2.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.1.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.2.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.3.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.4.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.5.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.6.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.7.td.json
  aat/src/aat/resources/features/F-093/S-600.1.td.json
  aat/src/aat/resources/features/F-093/S-600.2.td.json
  aat/src/aat/resources/features/F-093/S-600.3.td.json
  aat/src/aat/resources/features/F-093/S-600.4.td.json
  aat/src/aat/resources/features/F-093/S-600.5.td.json
  aat/src/aat/resources/features/F-093/S-600.6.td.json
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/S-094.5.td.json
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/S-094.6.td.json
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/S-094.7.td.json
  aat/src/aat/resources/features/F-095 Event Enabling Condition/S-095.1.td.json
  aat/src/aat/resources/features/F-095 Event Enabling Condition/S-095.2.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.1.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.10.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.11.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.12.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.2.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.3.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.4.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.5.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.6.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.7.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.8.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.9.td.json
  aat/src/aat/resources/features/F-096/S-096.1.td.json
  aat/src/aat/resources/features/F-096/S-096.2.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.1.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.2.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.3.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.4.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.5.td.json
  aat/src/aat/resources/features/F-098 rename of UserRole to AccessProfile/S-098.1.td.json
  aat/src/aat/resources/features/F-098 rename of UserRole to AccessProfile/S-098.2.td.json
  aat/src/aat/resources/features/F-098 rename of UserRole to AccessProfile/S-098.3.td.json
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1007

#998 Release cut 22.1
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.1_Get_CaseType.td.json
  charts/ccd-definition-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-998

#1010 Update Jenkinsfile_nightly
  Jenkinsfile_nightly
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1010

#1014 CCD-1223: separate beta-fw & ccd-test-definitions
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestAutomationAdapter.java
  aat/src/aat/resources/features/F-089/S-089.1.td.json
  aat/src/aat/resources/features/F-089/S-089.3.td.json
  aat/src/aat/resources/features/F-090/S-090.2.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.1.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.2.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.3.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.4.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.5.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.6.td.json
  aat/src/aat/resources/features/F-092 Conditional Event Post State/S-092.7.td.json
  aat/src/aat/resources/features/F-093/S-600.1.td.json
  aat/src/aat/resources/features/F-093/S-600.2.td.json
  aat/src/aat/resources/features/F-093/S-600.3.td.json
  aat/src/aat/resources/features/F-093/S-600.4.td.json
  aat/src/aat/resources/features/F-093/S-600.5.td.json
  aat/src/aat/resources/features/F-093/S-600.6.td.json
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/S-094.5.td.json
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/S-094.6.td.json
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/S-094.7.td.json
  aat/src/aat/resources/features/F-095 Event Enabling Condition/S-095.1.td.json
  aat/src/aat/resources/features/F-095 Event Enabling Condition/S-095.2.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.1.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.10.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.11.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.12.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.2.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.3.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.4.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.5.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.6.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.7.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.8.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.9.td.json
  aat/src/aat/resources/features/F-096/S-096.1.td.json
  aat/src/aat/resources/features/F-096/S-096.2.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.1.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.2.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.3.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.4.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.5.td.json
  aat/src/aat/resources/features/F-098 rename of UserRole to AccessProfile/S-098.1.td.json
  aat/src/aat/resources/features/F-098 rename of UserRole to AccessProfile/S-098.2.td.json
  aat/src/aat/resources/features/F-098 rename of UserRole to AccessProfile/S-098.3.td.json
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1014

#985 CCD-662: Code cleanup for Fortify issues
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseEventParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseFieldParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/model/DefinitionDataItem.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/MapperUtil.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseEventParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AuthorisationCaseFieldParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserTestBase.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-985

#1018 CCD-1262 CVE-2021-22118 in CCD Definition Store API suppress CVE
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1018

#1019 CCD-1262 CVE-2021-22118 in CCD Definition Store API suppress CVE
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1019

#1026 enable HighLevelDataSetup for nightly pipeline
  Jenkinsfile_nightly
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1026

#1020 High level data setup implementation
  Jenkinsfile_CNP
  aat/build.gradle
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestAutomationAdapter.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/HighLevelDataSetupApp.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/TestDataLoaderMain.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/AATHelper.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/functional/elasticsearch/ElasticsearchImportDefinitionTest.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/tests/helper/idam/OAuth2.java
  aat/src/aat/resources/features/F-094 NoC ChallengeQuestions/F-094_Definition_Import_Test_Base_data.td.json
  aat/src/aat/resources/features/F-095 Event Enabling Condition/F-095_Test_Base_data.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/F-097_Test_Base_data.td.json
  aat/src/aat/resources/features/common/Import_Base_data.td.json
  aat/src/aat/resources/features/common/users/DefaultUserForDefinitionImports.td.json
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1020
