Repository hmcts/ccd-definition-store-api, pull requests merged in 2021-02, with the labels that each got.

#862 Rdm 10048 master publish
  aat/src/aat/resources/features/F-079/S-508.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.3_Get_CaseType.td.json
  aat/src/aat/resources/features/common/fieldtypes/CaseEventField.td.json
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapper.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/ValidationErrorMessageCreator.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefield/EventCaseFieldPublishValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefieldcomplextype/EventComplexTypePublishValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/util/PublishFieldError.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/util/PublishFieldsValidator.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefield/EventCaseFieldPublishValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefieldcomplextype/EventComplexTypePublishValidatorImplTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/SpreadsheetValidationErrorMessageCreator.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventCaseFieldComplexTypeParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventCaseFieldParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/ColumnName.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventCaseFieldComplexTypeParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventCaseFieldParserTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventComplexTypeEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/CaseEventField.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/CaseEventFieldComplex.java
  repository/src/main/resources/db/migration/V20201209_10048__RDM-10048_publish_column.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/TestHelper.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-862

#850 RDM-10523 : Creating index event_case_field_event_id_case_field_id_idx
  repository/src/main/resources/db/migration/V20201207__RDM-10523_adding_missing_Index.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-850

#839 Rdm 10196
  application/src/main/resources/application.properties
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-839

#762 RDM-8898: Removed credentials
  application/src/main/resources/bootstrap.yaml
  charts/ccd-definition-store-api/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-762

#917 RDM-10523: Rename file to match the flyway naming convention
  repository/src/main/resources/db/migration/V20201207_10523__RDM-10523_adding_missing_Index.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-917

#920 Develop compilation issue patch
  aat/src/aat/resources/features/F-093/S-600.2.td.json
  aat/src/aat/resources/features/F-093/S-600.4.td.json
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayGroupAdapterService.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayGroupAdapterServiceTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventCaseFieldComplexTypeParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/model/DefinitionDataItem.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/HiddenFieldsValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventCaseFieldComplexTypeParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/HiddenFieldsValidatorTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/WizardPageComplexFieldOverride.java
  repository/src/main/resources/db/migration/V20201217_9754__RDM-9754_retain_hidden_value_case_event_to_complex_type.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-920

#897 RDM-10844 - Add CaseEventToFields validation for Publish with COMPLEX DisplayContext
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventCaseFieldParser.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventCaseFieldParserTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-897

#894 RDM-10588: DynamicRadioList and DynamicMultiSelectList
  README.md
  aat/src/aat/resources/features/F-077/S-331.td.json
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/rest/BaseTypeControllerTests.java
  elastic-search-support/src/main/resources/application.yml
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/integration/CaseMappingGenerationIT.java
  elastic-search-support/src/test/resources/integration/case_type_mapping.json
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeUtils.java
  repository/src/main/resources/db/migration/V20210107_10588__RDM-10588_dynamic_radio_multi_select_list.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-894

#907 RDM-10770 - perf improvements
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/util/DatabaseTableClearer.java
  charts/ccd-definition-store-api/values.preview.template.yaml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayGroupAdapterService.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/display/DisplayGroupAdapterServiceTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ChallengeQuestionParser.java
  repository/build.gradle
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeLiteRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseTypeLiteEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/ChallengeQuestionTabEntity.java
  repository/src/main/resources/db/migration/V20210121_10770__event_case_field_complex_index.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeLiteRepositoryTest.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/ChallengeQuestionTabRepositoryTest.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/TestConfiguration.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/TestHelper.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-907

#918 RDM-10823 retain hidden value functional tests
  aat/src/aat/resources/features/F-093/F-093.feature
  aat/src/aat/resources/features/F-093/S-600.5.td.json
  aat/src/aat/resources/features/F-093/S-600.6.td.json
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-918

#927 Fix failing functional test
  aat/src/aat/resources/features/common/fieldtypes/AllValidBaseTypeArrayPayload.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseDynamicMultiSelectListFieldType.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseDynamicRadioListFieldType.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-927

#930 Updated befta version
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-930

#933 RDM-10604_2
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.12_Get_CaseType.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-933

#916 RDM-10902 - Support list of case type IDs for elastic index endpoint
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/endpoint/ElasticsearchIndexController.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/endpoint/ElasticsearchIndexControllerTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeRepository.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-916

#929 RDM-10823 retain hidden value functional tests (Master)(#918)
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestAutomationAdapter.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/TestDataLoaderMain.java
  aat/src/aat/resources/features/F-093/F-093.feature
  aat/src/aat/resources/features/F-093/S-600.5.td.json
  aat/src/aat/resources/features/F-093/S-600.6.td.json
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-929

#876 RDM-10041 Create CaseLocation complex type
  aat/src/aat/resources/features/F-077/S-331.td.json
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/rest/BaseTypeControllerTests.java
  dependency-check-suppressions.xml
  elastic-search-support/src/main/resources/application.yml
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeUtils.java
  repository/src/main/resources/db/migration/V20201218__RDM-10041__CaseLocation.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-876

#937 Fix develop build
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-937

#940 Fix develop build
  aat/src/aat/resources/features/F-077/S-331.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-940
