Repository hmcts/ccd-definition-store-api, pull requests merged in 2022-05, with the labels that each got.

#1203 CCD-2779 - Update validators to allow InjectedData in CaseEvent tab
  aat/src/aat/resources/features/F-101 INJECTED_DATA/F-101.feature
  aat/src/aat/resources/features/F-101 INJECTED_DATA/S-101.2.td.json
  build.gradle
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/event/AbstractShowConditionValidator.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/event/EventEntityEnablingConditionValidator.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/event/EventEntityEnablingConditionValidatorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1203

#1214 CVE-2022-23708:ccd-definition-store-api
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1214

#1216 CCD-3099: Updated spring-framework.version to 5.3.19
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1216

#1212 RDM-13135 (PATCH) adjustments for test definition changes for RDM-13140
  aat/src/aat/resources/features/F-088/S-385.td.json
  aat/src/aat/resources/features/F-102 - TTL Base Complex Type/S-102.2.td.json
  aat/src/aat/resources/features/F-107 CaseLink/S-107.1_Get_CaseType.td.json
  build.gradle
  charts/ccd-definition-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1212

#1210 RDM-13140 test definition release for getLinkedCases API
  aat/src/aat/resources/features/F-102 - TTL Base Complex Type/S-102.2.td.json
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1210

#1140 RDM-13077 Establish the new ComponentLauncher base type
  aat/src/aat/resources/features/common/fieldtypes/AllValidBaseTypeArrayPayload.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseComponentLauncherFieldType.td.json
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/rest/BaseTypeControllerTests.java
  elastic-search-support/src/main/resources/application.yml
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeUtils.java
  repository/src/main/resources/db/migration/V20220131_13077__RDM-13077_ComponentLauncher_base_type.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1140

#1141 RDM-13081 Update Elastic search mapping definition for Document base type
  elastic-search-support/src/main/resources/application.yml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1141

#1162 RDM-13083 return Categories with get CaseType request
  aat/src/aat/resources/features/F-079/S-508.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.12_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.3_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.8_Get_CaseType.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.8.td.json
  aat/src/aat/resources/features/F-098 rename of UserRole to AccessProfile/common/F-098_Get_CaseType__Base.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099_Get_CaseType.td.json
  aat/src/aat/resources/features/F-100 SearchCriteria (GlobalSearch)/F-100_Get_CaseType.td.json
  aat/src/aat/resources/features/F-102 - TTL Base Complex Type/S-102.2.td.json
  aat/src/aat/resources/features/F-103 New DefaultValue Column/S-103.1.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.3_Get_CaseType.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.4_Get_CaseType.td.json
  dependency-check-suppressions.xml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapper.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseTypeEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/CaseType.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/Category.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1162

#1208 set to 400 limit of default_value column on event_case_field_complex_…
  repository/src/main/resources/db/migration/V20220425_3014__CCD-3014_increase_event_case_field_complex_type_default_value_column_size.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1208

#1171 RDM-13132 - Support CategoryID in CaseField
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.12_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.3_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.8_Get_CaseType.td.json
  aat/src/aat/resources/features/F-098 rename of UserRole to AccessProfile/common/F-098_Get_CaseType__Fields__Base.td.json
  aat/src/aat/resources/features/F-102 - TTL Base Complex Type/S-102.2.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/F-106.feature
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.1.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.10.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.11.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.12.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.13.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.14.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.15.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.16.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.17.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.2.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.3.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.4.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.5.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.6.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.7.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.8.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.9.td.json
  aat/src/aat/resources/features/common/casefields/CaseField.td.json
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/CaseFieldParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/CategoryParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ComplexFieldTypeParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParseContext.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImpl.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/CategoryIdValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/CaseFieldParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/CategoryParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ComplexFieldTypeParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParseContextTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/CategoryIdValidatorTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/ComplexFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/CaseField.java
  repository/src/main/resources/db/migration/V20220224_13079__RDM-13079_add_category_column_to_casefield.sql
  repository/src/main/resources/db/migration/V20220309_13131__RDM-13131_add_category_column_to_complexfield.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1171

#1178 RDM-13135 - Add LinkReason base type
  aat/src/aat/resources/features/F-088/S-385.td.json
  aat/src/aat/resources/features/F-107 CaseLink/F-107.feature
  aat/src/aat/resources/features/F-107 CaseLink/F-107_Get_CaseType.td.json
  aat/src/aat/resources/features/F-107 CaseLink/S-107.1.td.json
  aat/src/aat/resources/features/F-107 CaseLink/S-107.1_Get_CaseType.td.json
  charts/ccd-definition-store-api/values.preview.template.yaml
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  excel-importer/src/test/resources/CCD_TestDefinition.xlsx
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeUtils.java
  repository/src/main/resources/db/migration/V20220314_13135__RDM-13135-LinkReason_ComplexType.sql
  repository/src/main/resources/db/migration/V20220314_13136__RDM-13136-add_new_subfields_to_CaseLink_complex_field.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1178

#1219 package update for CVE-2022-25647
  build.gradle
  dependency-check-suppressions.xml
  elastic-search-support/build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1219

#1224 Make welsh translation toggleable
  application/src/main/resources/application.properties
  charts/ccd-definition-store-api/values.yaml
  dependency-check-suppressions.xml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/ApplicationParams.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImpl.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1224

#1222 WLTS-11
  application/src/main/resources/application.properties
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/values.yaml
  dependency-check-suppressions.xml
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/configuration/AdminWebAuthorizationProperties.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/model/AdminWebAuthorization.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/AdminWebAuthorizationControllerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1222

#1225 suppression of CVE-2022-29885
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1225

#1197 error handling for http 401 status code
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/SpreadSheetImportTest.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/workbasket/WorkBasketUserDefaultService.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/RestResponseEntityExceptionHandler.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/RestResponseEntityExceptionHandlerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1197

#1226 CVE-2022-21724 ccd-definition-store fix
  application/build.gradle
  build.gradle
  dependency-check-suppressions.xml
  integration-tests/build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1226

#1228 CVE-2016-1000027 is noted as false positive
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1228

#1229 Removed suppressions and upgraded spring-framework.version to 5.3.20
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1229

#1233 Revert temporary override of ES Host
  charts/ccd-definition-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1233
