Repository hmcts/ccd-definition-store-api, pull requests merged in 2022-02, with the labels that each got.

#1116 RDM-12980: Update Case Definition Import to allow #ARGUMENT in DisplayContextParameter column
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/displaycontextparameter/DisplayContextParameterType.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaycontextparameter/AbstractDisplayContextParameterValidator.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaycontextparameter/ArgumentValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/DisplayGroupDisplayContextParamValidator.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefield/EventCaseFieldArgumentDisplayContextParameterValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefield/EventCaseFieldDisplayContextParameterValidatorImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaycontextparameter/ArgumentValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/DisplayGroupDisplayContextParamValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefield/EventCaseFieldArgumentDisplayContextParameterValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/eventcasefield/EventCaseFieldDisplayContextParameterValidatorImplTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/model/DisplayContextParameter.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1116

#1127 remove jcenter and upgrade dependencies
  Jenkinsfile_CNP
  aat/build.gradle
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/DefinitionStoreTestAutomationAdapter.java
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/HighLevelDataSetupApp.java
  build.gradle
  repository/build.gradle
  repository/src/test/resources/test.properties
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1127

#1138 RDM-13059 CaseTypeTab: Update Case Definition Import to allow #ARGUMENT in DisplayContextParameter column
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/DisplayGroupArgumentDisplayContextParameterValidatorImpl.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/DisplayGroupDisplayContextParamValidator.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/DisplayGroupArgumentDisplayContextParameterValidatorImplTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/validation/displaygroup/DisplayGroupDisplayContextParamValidatorImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1138

#1111 RDM-13009
  aat/src/aat/resources/features/F-103 New DefaultValue Column/F-103.feature
  aat/src/aat/resources/features/F-103 New DefaultValue Column/S-103.1.td.json
  aat/src/aat/resources/features/F-103 New DefaultValue Column/S-103.2.td.json
  aat/src/aat/resources/features/F-103 New DefaultValue Column/S-103.3.td.json
  aat/src/aat/resources/features/common/Import_BEFTA_Master_Definition.td.json
  aat/src/aat/resources/features/common/fieldtypes/CaseEventField.td.json
  build.gradle
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventCaseFieldParser.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventCaseFieldParserTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventCaseFieldEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/CaseEventField.java
  repository/src/main/resources/db/migration/V20211216_13009__RDM-13009_DefaultValue_column.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeObjectGraphTest.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/TestHelper.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1111

#1149 increased maximum field length for Labels in EventToComplexTypes to 500
  dependency-check-suppressions.xml
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SpreadSheetValidationMappingEnum.java
  repository/src/main/resources/db/migration/V20220209_2554__CCD-2554_increase_event_case_field_complex_type_label_column_size.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1149

#1139 Feature/rdm 13008 add column case access categories to role to access profiles tab
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.12_Get_CaseType.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/F-097.feature
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/F-097_Test_Base_data.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.1.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.2.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.3.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.4.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.5.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.6.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.7.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.8.td.json
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/RoleToAccessProfilesParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/ColumnName.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/RoleToAccessProfilesParserTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/RoleToAccessProfilesEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/RoleToAccessProfiles.java
  repository/src/main/resources/db/migration/V20211217_13008__RDM-13008_add_column_to_role_to_access_profiles.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1139

#1128 CCD-2493: ccd-definition-store-api Validate the scope of transactions…
  build.gradle
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/endpoint/ElasticsearchIndexController.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/ImportController.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ProcessUploadService.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ProcessUploadServiceImpl.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/ImportControllerTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ProcessUploadServiceTest.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/AdminWebAuthorizationController.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/BaseTypeController.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/ProxyController.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/service/ProxyService.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/ProxyControllerTest.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/service/ProxyServiceTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1128

#1151 CCD-2396 Fortify Portability Flaw
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/HighLevelDataSetupApp.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1151

#1130 RDM-13025
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099.feature
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099_Get_ComplexFieldsOrderingSchemaSnapshot.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.13.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.14.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_ComplexFieldsOrdering.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_ConditionalsCaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_GlobalSearchCaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_MultiplePagesCaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_RetainHiddenValueCaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_TabsCaseType.td.json
  build.gradle
  charts/ccd-definition-store-api/values.preview.template.yaml
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/searchparty/SearchPartyServiceImplTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SearchPartyParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/ColumnName.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SearchPartyValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SearchPartyParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SearchPartyValidatorTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/SearchPartyEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/SearchParty.java
  repository/src/main/resources/db/migration/V20220124_13025__RDM-13025_search_party_collection_field.sql
  repository/src/main/resources/db/migration/V20220204_13025__RDM-13025_drop_constraint.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/SearchPartyRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1130

#1148 Feature/rdm 13106 search party collection field name validation
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099.feature
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099_Get_GlobalSearchSchemaSnapshot.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099_VerifyGlobalSearchSchemaSnapshotUnchanged.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.15.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.16.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.17.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.18.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.19.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.20.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.21.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.22.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.23.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.24.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.25.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.26.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.27.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.28.td.json
  aat/src/aat/resources/features/F-100 SearchCriteria (GlobalSearch)/F-100.feature
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/DotNotationValidator.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SearchPartyValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/DotNotationValidatorTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SearchPartyValidatorTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1148

#1156 CVE fix definition store
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1156

#1160 CWE-862 Suppression
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1160

#1161 Upgrade to Latest Base Helm Charts
  charts/ccd-definition-store-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1161

#1163 Amend Suppression Dates
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1163

#1150 RDM-13110 Amend CaseType-RoleName validation in RolesToAccessProfile tab during import of definition file
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/RoleToAccessProfilesValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/RoleToAccessProfilesValidatorTest.java
  repository/src/main/resources/db/migration/V20220209_13110__RDM-13110_CaseAccessCategories.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1150

#1145 Global Search Release 2
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099.feature
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099_Get_ComplexFieldsOrderingSchemaSnapshot.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099_Get_GlobalSearchSchemaSnapshot.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099_VerifyGlobalSearchSchemaSnapshotUnchanged.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.13.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.14.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.15.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.16.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.17.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.18.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.19.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_ComplexFieldsOrdering.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_ConditionalsCaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_GlobalSearchCaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_MultiplePagesCaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_RetainHiddenValueCaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_TabsCaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.20.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.21.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.22.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.23.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.24.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.25.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.26.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.27.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.28.td.json
  aat/src/aat/resources/features/F-100 SearchCriteria (GlobalSearch)/F-100.feature
  build.gradle
  charts/ccd-definition-store-api/values.preview.template.yaml
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/searchparty/SearchPartyServiceImplTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SearchPartyParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/ColumnName.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/DotNotationValidator.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SearchPartyValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/SearchPartyParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/DotNotationValidatorTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SearchPartyValidatorTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/SearchPartyEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/SearchParty.java
  repository/src/main/resources/db/migration/V20220124_13025__RDM-13025_search_party_collection_field.sql
  repository/src/main/resources/db/migration/V20220204_13025__RDM-13025_drop_constraint.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/SearchPartyRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1145

#1165 bump up test definitions version to latest stable
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1165
