Repository hmcts/ccd-definition-store-api, pull requests merged in 2022-07, with the labels that each got.

#1244 CCD-3440: Update dependency-check-suppressions.xml for temporary suppression of CVE-2022-33915
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1244

#1236 Spring security version update to 5.6.1
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/BaseTest.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/util/KeyGenerator.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/wiremock/config/WireMockTestConfiguration.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/wiremock/extensions/AbstractDynamicResponseTransformer.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/wiremock/extensions/CustomisedResponseTransformer.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/wiremock/extensions/DynamicOAuthJwkSetResponseTransformer.java
  application/src/test/resources/mappings/_idam_default.json
  application/src/test/resources/mappings/oauth-jwk-set.json
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1236

#1247 CCD-3440: CVE-2022-33915 ccd-definition-store-api
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1247

#1246 CCD-3434 update java, postgresql and redis configurations
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1246

#1190 CCD-2496 Update all repos with multi arch base images
  Dockerfile
  acb.tpl.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1190

#1248 CCD-3455 : Updated SQL scripts
  repository/src/main/resources/db/useful-queries/List create and drop for FK within DB.sql
  repository/src/main/resources/db/useful-queries/Remove all definitions for a case type older than 3 months, but leaving max version.sql
  repository/src/main/resources/db/useful-queries/Static (Add Foreign Keys).sql
  repository/src/main/resources/db/useful-queries/Static (Drop Foreign Keys).sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1248

#1242 CCD-965: Remove Temporary Sonar Exclusions ccd-definition-store-api
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1242

#1255 CCD-3536: CVE-2022-31569 suppress
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1255

#1256 CCD-3540: Fix for CVE-2015-3337 and other related CVEs
  build.gradle
  dependency-check-suppressions.xml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/legacyvalidation/LegacyCaseTypeValidator.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1256

#1258 CCD-3561 Upgrade Java and Node JS versions in chart for all the respe…
  charts/ccd-definition-store-api/Chart.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1258

#1262 Update ccd-test-definitions to 7.19.1
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1262

#1253 CCD-3504 Upgrade to latest java plugin - java plugin upgraded to 0.12.27
  build.gradle
  dependency-check-suppressions.xml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/legacyvalidation/LegacyCaseTypeValidator.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1253

#1251 CCD-3438: Improved handling of Idam Feign exceptions
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/security/idam/IdamRepository.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/security/idam/IdamRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1251

#1213 WLTS-6 Initial implementation
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/CaseDataAPIApplication.java
  application/src/main/resources/application.properties
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/SpreadSheetImportTest.java
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/util/WiremockFixtures.java
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/values.preview.template.yaml
  charts/ccd-definition-store-api/values.yaml
  dependency-check-suppressions.xml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/ApplicationParams.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/client/translation/DictionaryRequest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/client/translation/ServiceAuthHeadersInterceptor.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/client/translation/TranslationServiceApiClient.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/client/translation/TranslationServiceApiClientConfig.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImpl.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/TranslationService.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/TranslationServiceImpl.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/translation/DefinitionSheetsToTranslate.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/client/translation/ServiceAuthHeadersInterceptorTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/TranslationHelper.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/TranslationServiceTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/SecurityUtils.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/SecurityUtilsTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1213
