Repository hmcts/ccd-definition-store-api, pull requests merged in 2022-03, with the labels that each got.

#1131 implemented exception handling for FeignServer and HttpServerError
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/RestResponseEntityExceptionHandler.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/endpoint/exception/RestResponseEntityExceptionHandlerTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1131

#1172 RDM-12806 Refactor case_retention_and_disposal after merge with master
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-102 - TTL Base Complex Type/F-102.feature
  aat/src/aat/resources/features/F-102 - TTL Base Complex Type/F-102_Test_Base_data.td.json
  aat/src/aat/resources/features/F-102 - TTL Base Complex Type/F-102_Test_Complex_Organisation.td.json
  aat/src/aat/resources/features/F-102 - TTL Base Complex Type/S-102.1.td.json
  aat/src/aat/resources/features/F-102 - TTL Base Complex Type/S-102.2.td.json
  aat/src/aat/resources/features/F-103 New DefaultValue Column/S-103.1.td.json
  aat/src/aat/resources/features/F-104 TTL Increment in Case Event/S-104.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-104 TTL Increment in Case Event/S-104.3_Get_CaseType.td.json
  aat/src/aat/resources/features/F-104 TTL Increment in Case Event/S-104.4_Get_CaseType.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/F-105.feature
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.1.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.2.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.3.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.3_Get_CaseType.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.4.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.4_Get_CaseType.td.json
  build.gradle
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1172

#1166 RDM-13127 adjust CaseAccessCategory in GS index
  elastic-search-support/src/main/resources/globalSearchCasesMapping.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1166

#1153 CCD Release v25.1
  build.gradle
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/AccessProfileServiceImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/AccessProfileServiceImplTest.java
  elastic-search-support/build.gradle
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/client/HighLevelCCDElasticClient.java
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/config/ElasticSearchConfiguration.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/CcdElasticsearchContainer.java
  elastic-search-support/src/test/java/uk/gov/hmcts/ccd/definition/store/elastic/ElasticsearchBaseTest.java
  elastic-search-support/src/test/resources/integration/multi_casetypes_indices.json
  elastic-search-support/src/test/resources/integration/single_casetype_index.json
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/AccessProfileEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseTypeEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventComplexTypeEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventPostStateEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/StateEntity.java
  repository/src/main/resources/db/migration/V20211230_1323__CCD-1323_change_of_increment_size.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/AccessProfileRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1153

#1175 PR to fix def-store tests with new def-file
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.8.td.json
  aat/src/aat/resources/features/F-103 New DefaultValue Column/S-103.1.td.json
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1175

#1183 PR to fix failing functional test
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.8.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1183

#1185 memory adjustment for preview
  charts/ccd-definition-store-api/values.preview.template.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1185

#1187 assert states in any order
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.12_Get_CaseType.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1187

#1191 cve activities
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1191

#1179 facilitate clean up of multiple case types in 1 go
  repository/src/main/resources/db/useful-queries/Remove all definitions for a case type.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1179

#1189 Revert "Revert "ccd-2527 clean up, adding delete sqls""
  repository/src/main/resources/db/useful-queries/Remove all definitions for a case type older than 3 months, but leaving max version.sql
  repository/src/main/resources/db/useful-queries/Remove all definitions for a case type.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1189

#1177 Rdm 13132 - FTAs for CategoryID columns in ComplexTypes tab
  aat/src/aat/resources/features/F-106 New CategoryID Column/F-106.feature
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.10.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.11.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.12.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.13.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.14.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.15.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.16.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.17.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.3.td.json
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ComplexFieldTypeParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParseContext.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/CategoryIdValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ComplexFieldTypeParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParseContextTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/validation/CategoryIdValidatorTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/ComplexFieldEntity.java
  repository/src/main/resources/db/migration/V20220309_13131__RDM-13131_add_category_column_to_complexfield.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1177

#1173 Fortify Issue 24049155
  Jenkinsfile_nightly
  elastic-search-support/src/main/java/uk/gov/hmcts/ccd/definition/store/elastic/ElasticGlobalSearchListener.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1173

#1196 ccd-2533: Fix Flaky Functional Tests in Definition Store
  Jenkinsfile_nightly
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1196

#1089 Case Retention and Disposal PR
  aat/src/aat/resources/features/F-079/S-508.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.12_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.3_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.8_Get_CaseType.td.json
  aat/src/aat/resources/features/F-098 rename of UserRole to AccessProfile/common/F-098_Get_CaseType__Event__Base.td.json
  aat/src/aat/resources/features/F-102 - TTL Base Complex Type/F-102.feature
  aat/src/aat/resources/features/F-102 - TTL Base Complex Type/S-102.1.td.json
  aat/src/aat/resources/features/F-102 - TTL Base Complex Type/S-102.2.td.json
  aat/src/aat/resources/features/F-103 New DefaultValue Column/S-103.1.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/F-105.feature
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.1.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.2.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.3.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.3_Get_CaseType.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.4.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.4_Get_CaseType.td.json
  application/src/test/resources/CCD_TestDefinition_V46_RDM-6719.xlsx
  application/src/test/resources/CCD_TestDefinition_withAccessProfileColumnAlias.xlsx
  application/src/test/resources/GetCaseTypesResponseForCCD_TestDefinition_V45.json
  build.gradle
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/ColumnName.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeUtils.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/EventEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/CaseEvent.java
  repository/src/main/resources/db/migration/V20210916_12826__RDM-12826_TTL_ComplexType.sql
  repository/src/main/resources/db/migration/V20210917_12828__RDM-12828_ttl_increment_column.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1089

#1198 searchParties has been set to unordered
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099_Get_GlobalSearchSchemaSnapshot.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_GlobalSearchCaseType.td.json
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1198
