Repository hmcts/ccd-definition-store-api, pull requests merged in 2022-01, with the labels that each got.

#1118 introduced new index on complex_field
  repository/src/main/resources/db/migration/V20220110_1703__CCD-1703_complex_field_index.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1118

#1120 increased complex_field->label max size to 500
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/SpreadSheetValidationMappingEnum.java
  repository/src/main/resources/db/migration/V20220112_2388__CCD-2388_increase_complex_field_label_column_size.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1120

#1114 Rdm 13013
  elastic-search-support/src/main/resources/globalSearchCasesMapping.json
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1114

#1126 re-enable hlds on aat
  aat/src/aat/java/uk/gov/hmcts/ccd/definitionstore/befta/HighLevelDataSetupApp.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1126

#1080 implement concurrency pattern to HiddenFieldsValidator
  aat/src/aat/resources/features/F-093/S-600.2.td.json
  aat/src/aat/resources/features/F-093/S-600.4.td.json
  application/src/main/java/uk/gov/hmcts/ccd/definition/store/ApplicationConfiguration.java
  application/src/main/resources/application.properties
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ComplexFieldTypeParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/HiddenFieldsValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1080

#1117 RDM-13063 - Add new WaysToPay base type
  aat/src/aat/resources/features/common/fieldtypes/AllValidBaseTypeArrayPayload.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseWaysToPayFieldType.td.json
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/rest/BaseTypeControllerTests.java
  elastic-search-support/src/main/resources/application.yml
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeUtils.java
  repository/src/main/resources/db/migration/V20220110_13063__RDM-13063_WaysToPay_base_type.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1117

#1112 RDM-12979: Establish new Flags and FlagDetail base types
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeUtils.java
  repository/src/main/resources/db/migration/V20211220_12979__RDM-12979__FlagsFlagDetails.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepositoryTest.java
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1112

#1121 RDM-12977 Establish the new FlagLauncher base type
  aat/src/aat/resources/features/common/fieldtypes/AllValidBaseTypeArrayPayload.td.json
  aat/src/aat/resources/features/common/fieldtypes/base/BaseFlagLauncherFieldType.td.json
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/rest/BaseTypeControllerTests.java
  elastic-search-support/src/main/resources/application.yml
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeUtils.java
  repository/src/main/resources/db/migration/V20220113_12977__RDM-12977_FlagLauncher_base_type.sql
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1121

#1125 Amending suppression dates by 1 month
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1125

#1115 CCD-2378: Re-enable Fortify scan
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1115
