Repository hmcts/ccd-definition-store-api, pull requests merged in 2024-11, with the labels that each got.

#1510 add new indexes
  repository/src/main/resources/db/migration/V20241003_5510_1__CCD-5510_Create_new_indexes.sql
  repository/src/main/resources/db/migration/V20241003_5510_2__CCD-5510_Update_case_field_statistics.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeObjectGraphTest.java
Labels: ns:ccd, prd:ccd, enable_keep_helm, rel:ccd-definition-store-api-pr-1510

#1513 CCD-5327 - Updated DEFINITION_STORE_S2S_AUTHORISED_SERVICES variable to include …
  README.md
  application/src/main/resources/application.properties
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/values.yaml
  docker-compose.yml
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/EventParserTest.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-definition-store-api-pr-1513

#1478 Fix for CCD-4702
  aat/src/aat/resources/features/F-079/S-508.td.json
  aat/src/aat/resources/features/F-080/S-080.1.td.json
  aat/src/aat/resources/features/F-089/S-089.2.td.json
  aat/src/aat/resources/features/F-090/S-090.3.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.12_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.3_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.8_Get_CaseType.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.3.td.json
  application/src/test/java/uk/gov/hmcts/net/ccd/definition/store/excel/SpreadSheetImportTest.java
  application/src/test/resources/GetCaseTypesResponseForCCD_TestDefinition_V55.json
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/StateMetadataCaseFieldEntityFactory.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-definition-store-api-pr-1478
