Repository hmcts/ccd-definition-store-api, pull requests merged in 2024-10, with the labels that each got.

#1497 CCD-5158 Fix CVE-2023-46589
  build.gradle
  dependency-check-suppressions.xml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1497

#1503 CCD-5625: Case types on XUI AAT are not getting cleared after PR merge
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/TestingSupportController.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/TestingSupportControllerTest.java
Labels: ns:ccd, prd:ccd, enable_keep_helm, rel:ccd-definition-store-api-pr-1503

#1509 update findByJurisdictionId native query
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/CaseTypeLiteRepository.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-definition-store-api-pr-1509
