Repository hmcts/ccd-definition-store-api, pull requests merged in 2024-06, with the labels that each got.

#1475 CCD-5271 Update values.yaml point to flexible server
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/values.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1475

#1477 ✿✿✿✿ DO NOT MERGE ✿✿✿✿ CCD-5271 Decomission v11 Postgres databases
  infrastructure/main.tf
Labels: ** DO NOT MERGE **, ns:ccd, prd:ccd, aat/destroy, prod/destroy, rel:ccd-definition-store-api-pr-1477

#1465 ccd-test-definitions same as ccd-data-store-api
  build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1465

#1454 GA-28 Update test definitions
  aat/src/aat/resources/features/F-110 Retrieve Organisation Profile/S-110.1.td.json
  aat/src/aat/resources/features/F-110 Retrieve Organisation Profile/S-110.3.td.json
  application/build.gradle
  build.gradle
  dependency-check-suppressions.xml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/AccessProfileService.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/AccessProfileServiceImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/AccessProfileServiceImplTest.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/UserRoleController.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/UserRoleControllerTest.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-definition-store-api-pr-1454, prod/add-or-update, aat/add-or-update

#1480 fix FTs
  aat/src/aat/resources/features/F-109 AccessTypeRoles/F-109_Definition_Import_Test_Base_data.td.json
  aat/src/aat/resources/features/F-110 Retrieve Organisation Profile/F-110_Test_Base_data.td.json
  aat/src/aat/resources/features/F-111 AccessTypes/F-111_Definition_Import_Test_Base_data.td.json
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-definition-store-api-pr-1480
