Repository hmcts/ccd-definition-store-api, pull requests merged in 2024-02, with the labels that each got.

#1434 GA-93: Update table access_type_roles to change the name for column o…
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/AccessTypeRolesEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/AccessTypeRolesField.java
  repository/src/main/resources/db/migration/V20231218_93__GA-93_change_column_organisation_policy_field.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/AccessTypeRolesRepositoryTest.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-definition-store-api-pr-1434

#1425 CCD-5045 : Fix acb entries to fix timeout issue
  acb.tpl.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-definition-store-api-pr-1425

#1426 Ga 2 4 case access group - ccd-definition-store-api
  build.gradle
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeUtils.java
  repository/src/main/resources/db/migration/V20231114_2__GA2_CaseAccessGroup.sql
  repository/src/main/resources/db/migration/V20231114_4__GA4_CaseAccessGroups_collection.sql
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/FieldTypeRepositoryTest.java
Labels: ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-definition-store-api-pr-1426

#1449 GA-2 Update Befta version
  build.gradle
Labels: ** DO NOT MERGE **, ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-definition-store-api-pr-1449

#1436 Ga 3 add new tab access type2
  aat/src/aat/resources/features/F-109 AccessTypeRoles/F-109.feature
  aat/src/aat/resources/features/F-109 AccessTypeRoles/F-109_Definition_Import_Test_Base_data.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.10.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.11.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.12.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.13.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.14.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.15.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.16.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.17.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.18.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.2.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.22.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.23.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.3.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.4.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.5.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.6.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.7.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.8.td.json
  aat/src/aat/resources/features/F-109 AccessTypeRoles/S-109.9.td.json
  application/src/main/resources/application.properties
  build.gradle
  charts/ccd-definition-store-api/Chart.yaml
  charts/ccd-definition-store-api/values.yaml
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/ApplicationParams.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/accesstyperoles/AccessTypeRolesService.java
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/accesstyperoles/AccessTypeRolesServiceImpl.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/ServicesAutowiringTest.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/accesstyperoles/AccessTypeRolesServiceImplTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AccessTypeRolesParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/ParserFactory.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImpl.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/ColumnName.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/util/mapper/SheetName.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/AccessTypeRolesValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AccessTypeRolesParserTest.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/service/ImportServiceImplTest.java
  excel-importer/src/test/resources/CCD_TestDefinition.xlsx
  excel-importer/src/test/resources/CCD_TestDefinitionMissingAccessTypesRolesTab.xlsx
Labels: ** DO NOT MERGE **, ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-definition-store-api-pr-1436

#1438 GA-20 Add new endpoint to retrieve Organisation Profile
  aat/src/aat/resources/features/F-079/S-508.td.json
  aat/src/aat/resources/features/F-080/S-080.1.td.json
  aat/src/aat/resources/features/F-089/S-089.2.td.json
  aat/src/aat/resources/features/F-090/S-090.3.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.12_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.3_Get_CaseType.td.json
  aat/src/aat/resources/features/F-095 Publish Flag in Case Event/S-095.8_Get_CaseType.td.json
  aat/src/aat/resources/features/F-097 RoleToAccessProfiles/S-097.8.td.json
  aat/src/aat/resources/features/F-098 rename of UserRole to AccessProfile/common/F-098_Get_CaseType__Base.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099_Get_CaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099_Get_ComplexFieldsOrderingSchemaSnapshot.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/F-099_Get_GlobalSearchSchemaSnapshot.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_ComplexFieldsOrdering.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_ConditionalsCaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_MultiplePagesCaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_RetainHiddenValueCaseType.td.json
  aat/src/aat/resources/features/F-099 SearchParty (GlobalSearch)/S-099.1_Get_TabsCaseType.td.json
  aat/src/aat/resources/features/F-100 SearchCriteria (GlobalSearch)/F-100_Get_CaseType.td.json
  aat/src/aat/resources/features/F-100 SearchCriteria (GlobalSearch)/S-100.1_Get_CaseProgression.td.json
  aat/src/aat/resources/features/F-100 SearchCriteria (GlobalSearch)/S-100.1_Get_MultiplePagesCaseType.td.json
  aat/src/aat/resources/features/F-102 - TTL Base Complex Type/S-102.2.td.json
  aat/src/aat/resources/features/F-103 New DefaultValue Column/S-103.1.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.1_Get_CaseType.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.3_Get_CaseType.td.json
  aat/src/aat/resources/features/F-105 TTL Increment in Case Event/S-105.4_Get_CaseType.td.json
  aat/src/aat/resources/features/F-106 New CategoryID Column/S-106.3.td.json
  aat/src/aat/resources/features/F-107 CaseLink/F-107_Get_CaseType.td.json
  aat/src/aat/resources/features/F-110 Retrieve Organisation Profile/F-110.feature
  aat/src/aat/resources/features/F-110 Retrieve Organisation Profile/F-110_Test_Base_data.td.json
  aat/src/aat/resources/features/F-110 Retrieve Organisation Profile/S-110.1.td.json
  aat/src/aat/resources/features/F-110 Retrieve Organisation Profile/S-110.2.td.json
  aat/src/aat/resources/features/F-110 Retrieve Organisation Profile/S-110.3.td.json
  aat/src/aat/resources/features/F-110 Retrieve Organisation Profile/S-110.4.td.json
  aat/src/aat/resources/features/F-110 Retrieve Organisation Profile/S-110.5.td.json
  aat/src/aat/resources/features/F-110 Retrieve Organisation Profile/S-110.6.td.json
  domain/src/main/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapper.java
  domain/src/test/java/uk/gov/hmcts/ccd/definition/store/domain/service/EntityToResponseDTOMapperTest.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AccessTypeRolesParser.java
  excel-importer/src/main/java/uk/gov/hmcts/ccd/definition/store/excel/validation/AccessTypeRolesValidator.java
  excel-importer/src/test/java/uk/gov/hmcts/ccd/definition/store/excel/parser/AccessTypeRolesParserTest.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/AccessTypeRolesRepository.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/AccessTypeRolesEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/entity/CaseTypeEntity.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/AccessTypeRolesField.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/AccessTypeRolesJurisdictionResult.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/AccessTypeRolesJurisdictionResults.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/AccessTypeRolesResult.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/AccessTypeRolesRoleResult.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/CaseType.java
  repository/src/main/java/uk/gov/hmcts/ccd/definition/store/repository/model/OrganisationProfileIds.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/AccessTypeRolesRepositoryTest.java
  repository/src/test/java/uk/gov/hmcts/ccd/definition/store/repository/model/AccessTypeRolesJurisdictionResultsTest.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/AccessTypeRolesController.java
  rest-api/src/main/java/uk/gov/hmcts/ccd/definition/store/rest/service/AccessTypeRolesService.java
  rest-api/src/test/java/uk/gov/hmcts/ccd/definition/store/rest/endpoint/AccessTypeRolesControllerTest.java
Labels: ** DO NOT MERGE **, ns:ccd, prd:ccd, keep-helm, enable_keep_helm, rel:ccd-definition-store-api-pr-1438
